openapi: 3.2.0
info:
  title: Insider Transactional API
  version: 1.0.0
  contact:
    name: Insider One Support
    email: support@useinsider.com
    url: https://academy.insiderone.com/docs/insider-one-apis-1
  termsOfService: https://insiderone.com/terms-of-use/
  description: 'Operations tagged Transactional API across 2 of this provider''s published API definitions: insider-gateway-openapi.yml, insider-whatsapp-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://gw.useinsider.com
- url: https://whatsapp.useinsider.com
tags:
- name: Transactional API
paths:
  /api/wa/v2/transactional/messages/send:
    post:
      operationId: sendTransactionalWhatsappMessagesWithOauth20
      summary: Send Transactional WhatsApp Messages with OAuth 2.0
      tags:
      - Transactional API
      description: WhatsApp Transactional API v2 is a REST API that enables your systems to send transactional messages through the WhatsApp Business Platform.
      requestBody:
        content:
          application/json:
            example:
              from: '+901212121212'
              messages:
              - phone_number: '+901111111111'
                user_id: user-uuid-123
                message:
                  type: template
                  template:
                    name: welcome_message
                    language:
                      code: tr
                    components:
                    - type: body
                      parameters:
                      - type: text
                        text: Ahmet
      responses:
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - OAuth2: []
    servers:
    - url: https://gw.useinsider.com
  /api/wa/v2/transactional/settings:
    post:
      operationId: updateTransactionalWhatsappWebhookSettingsWithOauth20
      summary: Update Transactional WhatsApp Webhook Settings with OAuth 2.0
      tags:
      - Transactional API
      description: 'You can use this API to update webhooks and other settings for transactional WhatsApp messages.


        The system supports two grant types for OAuth2 authentication:


        client_credentials


        refresh_token


        Client Credentials Request

        curl -X POST "https://gw.useinsider.com/api/wa/v2/transactional/settings" \

        -H "Content-Type: application/json" \

        -H "Authorization: Bearer your_access_token" \

        -d ''{

        "webhook_url": "https://partner.example.com/webhooks/transactional",

        "from": "+1234567890",

        "auth_type": "oauth2",

        "oauth2": {

        "grant_type": "client_credentials",

        "token_url": "https://oauth.partner.com/oauth/token",

        "client_id": "your_client_id",

        "client_secret": "your_client_secret",

        "scopes": [

        "webhook.write"

        ],

        "expires_in": 3600

        }

        }''


        Refresh Token Request

        curl -X POST "https://gw.useinsider.com/api/wa/v2/transactional/settings" \

        -H "Content-Type: application/json" \

        -H "Authorization: Bearer your_access_token" \

        -d ''{

        "webhook_url": "https://partner.example.com/webhooks/transactional",

        "from": "+1234567890",

        "auth_type": "oauth2",

        "oauth2": {

        "grant_type": "refresh_token",

        "token_url": "https://oauth.partner.com/oauth/token",

        "client_id": "your_client_id",

        "client_secret": "your_client_secret",

        "refresh_token": "your_refresh_token",

        "scopes": [

        "webhook.write"

        ],

        "expires_in": 3600

        }

        }''


        Error Codes


        Code

        HTTP Status

        Description


        2010

        400

        The settings request body could not be decoded.


        2011

        400

        The settings request body failed validation.


        2012

        400

        An error occurred while saving the settings.


        2020

        400

        The webhook URL failed validation.'
      responses:
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - OAuth2: []
    servers:
    - url: https://gw.useinsider.com
  /v1/send:
    post:
      operationId: sendTransactionalWhatsappTemplateMessage
      summary: Send transactional WhatsApp template message
      tags:
      - Transactional API
      description: Transactional WhatsApp API enables you to send targeted transactional WhatsApp messages to your users.
      security:
      - InsAuthKey: []
      requestBody:
        content:
          application/json:
            examples:
              default:
                value:
                  messages:
                  - phoneNumber: +1**********
                    message:
                      type: template
                      template:
                        name: '{{TEMPLATE_NAME}}'
                        language:
                          code: '{{TEMPLATE_LANGUAGE_CODE}}'
                        components:
                        - type: body
                          parameters:
                          - type: text
                            text: '{{PARAMETER_VALUE}}'
                        - type: button
                          sub_type: quick_reply
                          index: '0'
                          parameters:
                          - type: payload
                            payload: '1'
                        - type: button
                          sub_type: quick_reply
                          index: '1'
                          parameters:
                          - type: payload
                            payload: '2'
              send-transactional-whatsapp-text-message:
                summary: Send transactional WhatsApp text message
                value:
                  messages:
                  - phoneNumber: +1**********
                    message:
                      type: text
                      text:
                        preview_url: true
                        body: Example Message
              send-transactional-whatsapp-media-message-image:
                summary: Send transactional WhatsApp media message (Image)
                value:
                  messages:
                  - phoneNumber: +1**********
                    message:
                      type: image
                      image:
                        link: '{{IMAGE_URL}}'
                        caption: Media Message (Image)
              send-transactional-whatsapp-media-message-document:
                summary: Send transactional WhatsApp media message (Document)
                value:
                  messages:
                  - phoneNumber: +1**********
                    message:
                      type: document
                      audio:
                        link: '{{DOCUMENT_LINK}}'
                        caption: '{{DOCUMENT_DESCRIPTION}}'
                        filename: '{{DOCUMENT_NAME}}'
              send-transactional-whatsapp-media-message-location:
                summary: Send transactional WhatsApp media message (Location)
                value:
                  messages:
                  - phoneNumber: +1**********
                    message:
                      type: location
                      location:
                        longitude: '11.1111111'
                        latitude: '11.1111111'
                        name: '{{ADDRESS_NAME}}'
                        address: '{{FULL_ADDRESS}}'
              send-transactional-whatsapp-message-with-button-reply:
                summary: Send transactional WhatsApp message with button reply
                value:
                  messages:
                  - phoneNumber: +1**********
                    message:
                      type: interactive
                      interactive:
                        type: button
                        header:
                          type: text
                          text: HEADER_TEXT
                        body:
                          text: BUTTON_TEXT
                        action:
                          buttons:
                          - type: reply
                            reply:
                              id: UNIQUE_BUTTON_ID_1
                              title: BUTTON_TITLE_1
                          - type: reply
                            reply:
                              id: UNIQUE_BUTTON_ID_2
                              title: BUTTON_TITLE_2
      responses:
        '429':
          $ref: '#/components/responses/TooManyRequests'
    servers:
    - url: https://whatsapp.useinsider.com
components:
  responses:
    TooManyRequests:
      description: Too Many Requests. The published per-endpoint rate limit was exceeded; back off and retry, honouring Retry-After when present.
      content:
        application/json:
          example:
            message: Too Many Requests
            status: 429
  securitySchemes:
    OAuth2:
      type: oauth2
      description: OAuth 2.0. Client ID / Client Secret are generated in the InOne panel under Settings > InOne Settings > Integration Settings > OAuth 2.0 Credentials, with per-channel scopes selected at generation time. Endpoint metadata read live from https://gw.useinsider.com/.well-known/oauth-authorization-server (RFC 8414).
      flows:
        clientCredentials:
          tokenUrl: https://gw.useinsider.com/oauth2/token
          scopes: {}
        authorizationCode:
          authorizationUrl: https://gw.useinsider.com/oauth2/authorize
          tokenUrl: https://gw.useinsider.com/oauth2/token
          refreshUrl: https://gw.useinsider.com/oauth2/token
          scopes: {}
      x-pkce:
      - S256
      x-revocation-endpoint: https://gw.useinsider.com/oauth2/revoke
      x-discovery: well-known/insider-gw-oauth-authorization-server.json
    InsAuthKey:
      type: apiKey
      in: header
      name: X-INS-AUTH-KEY
      description: Insider One authorization key for this API, generated in the InOne panel.
externalDocs:
  description: Insider One API reference
  url: https://academy.insiderone.com/docs/api-reference-welcome
x-refined-from:
- insider-gateway-openapi.yml
- insider-whatsapp-openapi.yml
x-provenance:
  generated: '2026-08-13'
  method: derived
  source: postman/insider-one-apis.postman_collection.json
  source_url: https://documenter.gw.postman.com/api/collections/24851117/2sB3dSR9bM
  publisher_page: https://developers.insiderone.com/
  note: Insider One publishes a single public Postman collection covering every REST API. This document is the subset of that collection served from analytics.api.useinsider.com.
