openapi: 3.2.0
info:
  title: Insider One Web Push Web Push APIs API
  version: 1.0.0
  description: 'Create, launch and delete single web push campaigns, plus web push statistics.


    Derived by API Evangelist from Insider One''s own public Postman collection ("Insider One APIs", published at https://developers.insiderone.com/). Paths, methods, headers, query parameters and request/response examples are verbatim from that collection; nothing is invented. The 429 response is documented for all Insider One APIs on https://academy.insiderone.com/docs/api-rate-limits-1 .'
  contact:
    name: Insider One Support
    email: support@useinsider.com
    url: https://academy.insiderone.com/docs/insider-one-apis-1
  termsOfService: https://insiderone.com/terms-of-use/
servers:
- url: https://web-push.api.useinsider.com
tags:
- name: Web Push APIs
paths:
  /v1/single:
    post:
      operationId: createSingleWebPushes
      summary: Create single web pushes
      tags:
      - Web Push APIs
      description: 'Insider''s web push API allows you to send single web push notifications from your own back-end without using Insider''s InOne panel.


        Headers


        Header

        Sample Value

        Description


        Authorization

        {{vault:bearer-token}}

        This key is required to authorize your request. Refer to API Authentication Tokens to generate your token.


        Content-Type

        application/json

        This header specifies the media type of the resource.


        Body Parameters

        Each request body requires a partner ID and a title.


        Parameter

        Description

        Data Type

        Required


        partner_id

        This is your partner identification number, available from InOne Settings > Account Preferences.

        String

        Yes


        title

        Every request creates a push notification campaign on InOne with the push type Single Push. This is the title of the campaign. It cannot be more than 100 characters.

        String

        Yes


        language

        The language of the campaign, e.g., en_US. If you want to send the push to all languages, you can write “all_ALL”.

        String

        Yes


        is_all

        It helps you set when you want to send push notifications to all subscribers or segmented subscribers. If you type true, it will be sent only once, and you can open the campaign in the InOne Panel. If you type false, it will be sent multiple times, but you cannot open the campaign in the InOne Panel.

        Boolean

        No


        Sample Example

        Before sending the request, make sure:


        To replace the authorization value with your own API key.


        To add your partner ID in partner_id.


        To add your campaign name in title.


        When you send the request, you will get your campaign_id as a response. You will use this campaign_id when launching the campaign.


        Sample Request

        curl --location --request POST ''https://web-push.api.useinsider.com/v1/single'' \

        --header ''Content-Type: application/json'' \

        --header ''Authorization: {{vault:bearer-token}}'' \

        --data-raw ''{

        "partner_id": "100XXXXX",

        "title": "Title of campaign",

        "language": "tr_TR",

        "is_all": false

        }''


        Sample Responses

        201 CREATED

        You can see this kind of response when you successfully created your campaign.


        {

        "success": true,

        "campaign_id": 25696

        }


        You can also see your campaign in your InOne panel on the Web Push listing page as in Draft status, indicating that the campaign has been created but not launched yet.


        401 UNAUTHORIZED

        {

        "message": "Unauthorized"

        }


        424 FAILED DEPENDENCY

        {

        "message": "SERVICE:-"

        }


        ERROR CODES


        400: Bad request


        401: Unauthorized request


        424 Failed Dependency


        429 Request limit exceeded


        Limitations


        All create requests must be executed with an HTTPS POST request.


        The API key should be provided as the authorization key on the request header. If the key is incorrect, the operation will not be executed and an authorization error will return in the response.


        The rate limit is 30 requests per minute second.'
      security:
      - Authorization: []
      requestBody:
        content:
          application/json:
            example:
              partner_id: 100XXXXX
              title: Title of campaign
              language: tr_TR
              is_all: false
      responses:
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/single/campaign_id:
    post:
      operationId: launchSingleWebPushesV1
      summary: Launch single web pushes v1
      tags:
      - Web Push APIs
      description: Insider's web push API allows you to launch single web push notifications from your own back-end without using Insider's InOne panel.
      security:
      - Authorization: []
      requestBody:
        content:
          application/json:
            example:
              partner_id: '100000001'
              title: title of push
              description: description of push
              image: https://image.useinsider.com/mywebsite/webPushDefaultImage/JpVu9aBXgTXmcrBkiZLB1512577074.jpeg
              banner: https://image.useinsider.com/mywebsite/webPushDefaultImage/JpVu9aBXgTXmcrBkiZLB1512577074.jpeg
              link: https://image.useinsider.com
              include_unengage: true
              ttl: '1000'
      responses:
        '429':
          $ref: '#/components/responses/TooManyRequests'
    delete:
      operationId: deleteSingleWebPushes
      summary: Delete single web pushes
      tags:
      - Web Push APIs
      description: 'Insider''s web push API allows you to delete single web push notifications from your own back-end without using Insider''s InOne panel.


        Headers


        Header

        Sample Value

        Description


        Authorization

        {{vault:bearer-token}}

        This key is required to authorize your request. Refer to API Authentication Tokens to generate your token.


        Content-Type

        application/json

        This header specifies the media type of the resource.


        Body Parameters


        Parameter

        Description

        Data Type

        Required


        partner_id

        This is your partner identification number, available from InOne Settings > Account Preferences.

        String

        Yes


        Sample Example

        Before sending the request, make sure:


        To replace the authorization value with your own API key.


        To add your partner ID in partner_id.


        When you send the request to create it, you will get your campaign_id as a response.


        Sample Request

        curl --location --request DELETE ''https://web-push.api.useinsider.com/v1/single/campaign_id'' \

        --header ''Content-Type: application/json'' \

        --header ''Authorization: {{vault:bearer-token}}'' \

        --data-raw ''{

        "partner_id": "100000001",

        }''


        Sample Responses

        200 OK

        You can see this kind of response when you successfully deleted your campaign.


        {

        "success": true,

        "campaign_id": 1697300275

        }


        401 UNAUTHORIZED

        {

        "message": "Unauthorized"

        }


        424 FAILED DEPENDENCY

        {

        "message": "SERVICE:-"

        }


        ERROR CODES


        400: Bad request


        401: Unauthorized request


        424 Failed Dependency


        429 Request limit exceeded


        Limitations


        All functions must be executed with an HTTPS DELETE request.


        The API key should be provided as the authorization key on the request header. If the key is incorrect, the operation will not be executed and an authorization error will return in the response.


        The rate limit is 30 requests per minute second.'
      security:
      - Authorization: []
      requestBody:
        content:
          text/plain:
            example: "{\n  \"partner_id\": \"100000001\",\n}"
      responses:
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v2/single/campaign_id:
    post:
      operationId: launchSingleWebPushesV2
      summary: Launch single web pushes v2
      tags:
      - Web Push APIs
      description: Insider's web push API allows you to launch single web push notifications from your own back-end without using Insider's InOne panel.
      security:
      - Authorization: []
      requestBody:
        content:
          application/json:
            example:
              partner_id: '100000001'
              title: title of push
              description: description of push
              image: https://image.useinsider.com/mywebsite/webPushDefaultImage/JpVu9aBXgTXmcrBkiZLB1512577074.jpeg
              banner: https://image.useinsider.com/mywebsite/webPushDefaultImage/JpVu9aBXgTXmcrBkiZLB1512577074.jpeg
              link: https://image.useinsider.com
              include_unengage: true
              ttl: '1000'
      responses:
        '429':
          $ref: '#/components/responses/TooManyRequests'
components:
  responses:
    TooManyRequests:
      description: Too Many Requests. The published per-endpoint rate limit was exceeded; back off and retry, honouring Retry-After when present.
      content:
        application/json:
          example:
            message: Too Many Requests
            status: 429
  securitySchemes:
    Authorization:
      type: apiKey
      in: header
      name: Authorization
      description: Authorization header. On gw.useinsider.com this carries an OAuth 2.0 Bearer token; on other hosts it carries the API key issued for that channel.
externalDocs:
  description: Insider One API reference
  url: https://academy.insiderone.com/docs/api-reference-welcome
x-provenance:
  generated: '2026-08-13'
  method: derived
  source: postman/insider-one-apis.postman_collection.json
  source_url: https://documenter.gw.postman.com/api/collections/24851117/2sB3dSR9bM
  publisher_page: https://developers.insiderone.com/
  note: Insider One publishes a single public Postman collection covering every REST API. This document is the subset of that collection served from web-push.api.useinsider.com.
