openapi: 3.2.0
info:
  title: Insider One Analytics Architect API
  version: 1.0.0
  description: 'Architect journey analytics: overall, per-journey, per-element, conversion goals and journey export.


    Derived by API Evangelist from Insider One''s own public Postman collection ("Insider One APIs", published at https://developers.insiderone.com/). Paths, methods, headers, query parameters and request/response examples are verbatim from that collection; nothing is invented. The 429 response is documented for all Insider One APIs on https://academy.insiderone.com/docs/api-rate-limits-1 .'
  contact:
    name: Insider One Support
    email: support@useinsider.com
    url: https://academy.insiderone.com/docs/insider-one-apis-1
  termsOfService: https://insiderone.com/terms-of-use/
servers:
- url: https://architect-analytics.api.useinsider.com
tags:
- name: Architect
paths:
  /v1/element/{campaignId}:
    get:
      operationId: getArchitectChannelAnalytics
      summary: Get Architect Channel Analytics
      tags:
      - Architect
      description: The Architect channel analytics endpoint provides analytics for a specific campaign element in the Architect product.
      parameters:
      - name: campaignId
        in: path
        required: true
        schema:
          type: string
      - name: statDate
        in: query
        required: false
        schema:
          type: string
        example: String
      security:
      - Authorization: []
      responses:
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/goals:
    get:
      operationId: getConversionGoalsInformation
      summary: Get Conversion Goals Information
      tags:
      - Architect
      description: 'For Architect overall, journey, and channel analytics, you can only get the conversion metrics for one goal at a time. You can enter the goal id as a parameter to select which conversion goal you want to see the metrics. You can obtain the Goal ID either from the goal dropdown in the InOne panel or by using this endpoint.


        This endpoint retrieves a list of conversion goals across various journeys in the Architect product, their IDs, and which journeys they are used in.


        Headers


        Header

        Sample Value

        Description


        Authorization

        {{vault:bearer-token}}

        This key is required to authorize your request. Refer to API Authentication Tokens to generate your token. You should enter the word Bearer followed by the API key you generated.


        Accept

        application/json

        You should enter it as application/json at all times.


        Query Parameters

        This endpoint does not require any query parameters.


        Sample Example

        Sample Query

        Before sending the request, make sure:


        To replace the authorization value with your own API key.


        curl -X GET "https://architect-analytics.api.useinsider.com/v1/goals" \

        -H "Authorization: {{vault:bearer-token}}" \

        -H "Accept: application/json"


        Sample Response

        200 OK

        {

        "data": [

        {

        "id": 1,

        "name": "payment_successful",

        "type": "on-event",

        "parameters": [

        [

        {

        "key": "retailer_name",

        "operator": "cnt",

        "type": "string",

        "values": [

        "VCC"

        ]

        }

        ]

        ],

        "journeys": [

        {

        "id": 89,

        "name": "Journey Name 1"

        }

        ]

        },

        {

        "id": 2,

        "name": "payment_failed",

        "type": "on-event",

        "parameters": [

        [

        {

        "key": "retailer_name",

        "operator": "cnt",

        "type": "string",

        "values": [

        "VCC",

        "Direct"

        ]

        }

        ]

        ],

        "journeys": [

        {

        "id": 90,

        "name": "Journey Name 2"

        }

        ]

        }

        ]

        }


        401 Unauthorized

        {

        "error": "Invalid API key"

        }


        Response Details


        id: The unique ID of the conversion goal.


        name: The name of the conversion goal.


        type: The type of conversion goal (e.g., on-event, on-attribute).


        parameters: An array detailing the conditions for the goal, such as key-value pairs with operators and value types.


        journeys: A list of journeys where the conversion goal is used, including journey IDs and names.


        Limitations


        The request must be executed with an HTTPS GET request.


        The API Key should be provided as the authorization key on the request header. If the key is incorrect, the operation will not be executed and an authorization error will return in the response.


        You can send 200 requests per minute with the same API Key. If you exceed the rate limit, you will receive a 429 error.'
      security:
      - Authorization: []
      responses:
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/goals-analytics:
    get:
      operationId: getConversionGoalsAnalytics
      summary: Get Conversion Goals Analytics
      tags:
      - Architect
      description: 'For overall and journey analytics, you can get all conversion metrics for all goals at the same time.


        If you provide the journey ID in the payload, you will also get that journey’s conversion metrics for goals. You should provide the journey ID inside the IDs filter array.


        This endpoint retrieves a list of conversion goals across various journeys. You can use the Conversion Goals Information API together with this API to combine conversion goal metrics and see which journeys they are used in.


        Headers


        Header

        Sample Value

        Description


        Authorization

        {{vault:bearer-token}}

        This key is required to authorize your request. Refer to API Authentication Tokens to generate your token. You should enter the word Bearer followed by the API key you generated.


        Accept

        application/json

        You should enter it as application/json at all times.


        Query Parameters


        Parameter

        Description

        Sample Value

        Required


        statDate

        Defines the date range for statistics. Format: DD/MM/YYYY - DD/MM/YYYY

        statDate=01/08/2024 - 30/08/2024

        Yes


        statuses

        Array filter for journey statuses. Default is active if not provided. Allowed values: active, test, passive, sunset

        statuses[]=active&statuses[]=passive

        No


        channels

        Array filter specifying which channels'' analytics data to return. If not provided, all channels are included. Allowed values: web-push, app-push, email, sms, whatsapp, in-app, journey-web, call-api

        channels[]=email&channels[]=sms

        No


        ids

        Array of journey IDs for filtering

        ids[]=89&ids[]=90

        No


        goalType

        Attribution type for reporting. 0 for Click-Through attribution (default) 1 for View-Through attribution

        0

        No


        Sample Example

        Sample Query

        Before sending the request, make sure:


        To replace the authorization value with your own API key.


        To replace the sample values in parameters with your own values in the required data type.


        curl -X GET "https://architect-analytics.api.useinsider.com/v1/goals-analytics" \

        -H "Authorization: {{vault:bearer-token}}" \

        -H "Accept: application/json"


        Sample Responses

        200 OK

        {

        "data": [

        {

        "conversionRateReference": 35010,

        "goalId": 0,

        "goalName": "confirmation_page_view",

        "conversion": 4,

        "conversionRate": 0.01,

        "revenue": 123088700,

        "aov": 30772175

        },

        {

        "conversionRateReference": 35010,

        "goalId": 2,

        "goalName": "item_added_to_cart",

        "conversion": 30,

        "conversionRate": 0.09,

        "revenue": 565852200,

        "aov": 18861740

        },

        {

        "conversionRateReference": 35010,

        "goalId": 3,

        "goalName": "product_detail_page_view",

        "conversion": 125,

        "conversionRate": 0.36,

        "revenue": 11732341800,

        "aov": 93858734

        }

        ]

        }


        401 Unauthorized

        {

        "error": "Invalid API key"

        }


        Limitations


        The request must be executed with an HTTPS GET request.


        The API Key should be provided as the authorization key on the request header. If the key is incorrect, the operation will not be executed and an authorization error will return in the response.


        You can send 200 requests per minute with the same API Key. If you exceed the rate limit, you will receive a 429 error.'
      parameters:
      - name: statDate
        in: query
        required: false
        schema:
          type: string
        example: statDate=01/08/2024 - 30/08/2024
      security:
      - Authorization: []
      responses:
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/journey/{journeyId}:
    get:
      operationId: getArchitectJourneyAnalytics
      summary: Get Architect Journey Analytics
      tags:
      - Architect
      description: The Architect journey analytics endpoint provides detailed analytics for a specific journey within the Architect product.
      parameters:
      - name: journeyId
        in: path
        required: true
        schema:
          type: string
      - name: statDate
        in: query
        required: false
        schema:
          type: string
        example: String
      security:
      - Authorization: []
      responses:
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/journeys:
    get:
      operationId: exportJourneyList
      summary: Export Journey List
      tags:
      - Architect
      description: 'The Journey List API enables you to export detailed information for all journeys created in Architect. This endpoint provides metadata such as journey name, status, creation and execution dates, tags, conversion goals, and exit criteria — allowing you to easily audit, analyze, or back up journey configurations externally.


        It’s particularly useful for teams that want to integrate Architect data with external analytics platforms or maintain synchronized journey catalogs.


        Query Parameters


        Parameter

        Description

        Sample Value

        Required


        statuses

        Filters journeys by status. Allowed values are active, test, passive, sunset.

        ?statuses[]=active&statuses[]=test

        No


        ids

        Filters by specific journey IDs

        ?ids[]=1&ids[]=2&ids[]=3

        No


        search

        Returns journeys whose names partially match the provided text.

        ?search=welcome

        No


        tags

        Filters journeys by their assigned tags. Each tag must exist in the tags table.

        ?tags[]=cart abandonment&tags[]=retention

        No


        limit, page

        Pagination for the export. You can determine which page and for what limit you want to get an export for. You can get at most 300 journeys per export.

        ?limit=100&page=1 → Brings the 100 journeys of the first page. If you have 900 journeys, and you want to get an export for all of them, you need 3 API calls: ?limit=300&page=1 ?limit=300&page=2 ?limit=300&page=3

        No


        Sample Responses

        200 OK

        {

        "journeys": [

        {

        "journeyId": 5756,

        "parentJourneyId": 38,

        "journeyName": "Demo Journey",

        "status": "active",

        "createdAt": "2025-10-14T11:42:29.000000Z",

        "startDate": "2025-10-14T11:44:53.000000Z",

        "endDate": "2025-11-13T11:42:45.000000Z",

        "tags": ["Demo"],

        "description": null,

        "starterType": "on-event",

        "languages": ["ar_AE", "ja_JP", "ka_GA"],

        "reEligibility": {

        "rule": "Users re-enter after 3 day",

        "value": 3

        },

        "conversionGoals": [

        {

        "id": 216,

        "event": "confirmation_page_view",

        "eventParameters": [

        {

        "display_name": "Event Source",

        "key": "source",

        "operator": "eq",

        "type": "string",

        "values": ["crm", "mobile"]

        }

        ]

        }

        ],

        "exitCriteria": [

        {

        "event": "item_added_to_cart",

        "parameters": {

        "name": "item_added_to_cart",

        "type": "event",

        "params": [],

        "identifierParameter": "",

        "hash": "item_added_to_cartnacntstring3/4 Sleeve Kimono DressProduct Name",

        "consistencyStatus": false,

        "groupPartners": [],

        "value": "item_added_to_cart"

        }

        },

        {

        "event": "login",

        "parameters": {

        "name": "login",

        "type": "event",

        "params": [],

        "identifierParameter": "",

        "hash": "login",

        "consistencyStatus": false,

        "groupPartners": [],

        "value": "login"

        }

        }

        ],

        "campaigns": [

        {

        "id": 64592,

        "name": "Demo Journey Web Push 1",

        "channel": "Web Push"

        },

        {

        "id": 64596,

        "name": "Demo Journey Web Push 2",

        "channel": "Web Push"

        },

        {

        "id": 64595,

        "name": "Demo Journey SMS 2",

        "channel": "SMS"

        },

        {

        "id": 64599,

        "name": "Demo Journey SMS 1",

        "channel": "SMS"

        },

        {

        "id": 64591,

        "name": "Demo Journey On-Site 1",

        "channel": "On-Site"

        }

        ]

        }

        ]

        }


        401 Unauthorized

        {

        "error": "Invalid API key"

        }


        Limitations


        The request must be executed with an HTTPS GET request.


        The API Key should be provided as the authorization key on the request header. If the key is incorrect, the operation will not be executed and an authorization error will return in the response.


        You can send 200 requests per minute with the same API Key. If you exceed the rate limit, you will receive a 429 error.'
      security:
      - Authorization: []
      responses:
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/overall:
    get:
      operationId: getArchitectOverallAnalytics
      summary: Get Architect Overall Analytics
      tags:
      - Architect
      description: The Architect overall analytics endpoint provides comprehensive analytics data for all user journeys.
      parameters:
      - name: statDate
        in: query
        required: false
        schema:
          type: string
        example: String
      security:
      - Authorization: []
      responses:
        '429':
          $ref: '#/components/responses/TooManyRequests'
components:
  responses:
    TooManyRequests:
      description: Too Many Requests. The published per-endpoint rate limit was exceeded; back off and retry, honouring Retry-After when present.
      content:
        application/json:
          example:
            message: Too Many Requests
            status: 429
  securitySchemes:
    Authorization:
      type: apiKey
      in: header
      name: Authorization
      description: Authorization header. On gw.useinsider.com this carries an OAuth 2.0 Bearer token; on other hosts it carries the API key issued for that channel.
externalDocs:
  description: Insider One API reference
  url: https://academy.insiderone.com/docs/api-reference-welcome
x-provenance:
  generated: '2026-08-13'
  method: derived
  source: postman/insider-one-apis.postman_collection.json
  source_url: https://documenter.gw.postman.com/api/collections/24851117/2sB3dSR9bM
  publisher_page: https://developers.insiderone.com/
  note: Insider One publishes a single public Postman collection covering every REST API. This document is the subset of that collection served from architect-analytics.api.useinsider.com.
