openapi: 3.2.0
info:
  title: Insider One Eureka Search Search APIs API
  version: 1.0.0
  description: 'Eureka product discovery: search results, search suggestions and category/brand merchandising collections.


    Derived by API Evangelist from Insider One''s own public Postman collection ("Insider One APIs", published at https://developers.insiderone.com/). Paths, methods, headers, query parameters and request/response examples are verbatim from that collection; nothing is invented. The 429 response is documented for all Insider One APIs on https://academy.insiderone.com/docs/api-rate-limits-1 .'
  contact:
    name: Insider One Support
    email: support@useinsider.com
    url: https://academy.insiderone.com/docs/insider-one-apis-1
  termsOfService: https://insiderone.com/terms-of-use/
servers:
- url: https://ineureka.api.useinsider.com
tags:
- name: Search APIs
paths:
  /api/web/search:
    get:
      operationId: getSearchResults
      summary: Get search results
      tags:
      - Search APIs
      description: Eureka’s Search API lets you quickly and smoothly implement our search engine within your website(s) or mobile application(s).
      responses:
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /api/web/suggestions/query:
    get:
      operationId: getSearchRecommendations
      summary: Get search recommendations
      tags:
      - Search APIs
      description: 'The Suggestion API offers query recommendations as users type into a search bar. It analyzes the input text and returns a list of relevant suggestions in real time based on user history and other contextual information like category and brand. This feature notably improves the user experience, accelerating the search process and effectively directing users to their intended queries.

        Request Parameters


        Parameter

        Description

        Data Type

        Sample

        Required


        q

        Query String that will be searched

        String

        q=sneakers

        Yes


        p

        This is your partner ID. Navigate to InOne > InOne Settings > Account Preferences to copy your partner ID.

        String

        10000000

        Yes


        l

        Locale is required to get partner products in the current language of the website.

        String

        l=en_US

        Yes


        The q parameter in the query should include a minimum of 2 characters and a maximum of 280 characters. Otherwise, a validation exception will occur.

        Sample Responses

        API Responses


        Parameter

        Definition


        status

        It is the field that shows the result of the suggestion. This field can be: - Success: Suggestion API response is valid. - Error: Unexpected internal server errors. - Invalid: Suggestion API returns a Validation Exception. The request is invalid. - BusinessException: Eureka Search API returns a Business Exception. Details are shared in Validation Exceptions section.


        data

        It is the object where suggested phrases and their types are kept as a result of the given query.


        validations

        When the request is incorrect (HTTP 4XX), this field is filled with an array of type and message details.


        200 Search

        {

        "status": "Success",

        "data": [

        {

        "phrase": "..."

        "phraseType": "..."

        }, ...

        ],

        "error": null,

        "validations": null

        }


        500 Internal Server Error

        {

        "status": "Error",

        "data": null,

        "redirection": null,

        "partnerResources": null,

        "error": {

        "code": "500 INTERNAL_SERVER_ERROR",

        "message": "..."

        },

        "validations": null,

        "appliedSearchStrategy": null

        }


        400 Validation Exception

        {

        "status": "ValidationException",

        "data": null,

        "error": null,

        "validations": [

        "..."

        ]

        }


        Fail Records Messages


        Business Exceptions


        Message

        Definition

        HTTP Code


        PartnerConfigNotFound

        Partner config cannot be gathered from the cache.

        400


        Validation Exceptions


        Message

        Definition

        HTTP Code


        QueryNotFound

        q parameter is not provided in the request.

        400


        QueryInvalidFormat

        The wrong query format is provided in the request.

        400


        QueryInvalidLength

        The query must contain the number of characters between 2 and 280.

        200'
      servers:
      - url: https://{domain_name}
        description: Eureka suggestion host issued to the customer domain.
        variables:
          domain_name:
            default: ineureka.api.useinsider.com
            description: Customer-specific Eureka host provided by Insider One.
      responses:
        '429':
          $ref: '#/components/responses/TooManyRequests'
      x-source-note: The published collection templates this host as {domain_name}; kept templated rather than guessed.
components:
  responses:
    TooManyRequests:
      description: Too Many Requests. The published per-endpoint rate limit was exceeded; back off and retry, honouring Retry-After when present.
      content:
        application/json:
          example:
            message: Too Many Requests
            status: 429
externalDocs:
  description: Insider One API reference
  url: https://academy.insiderone.com/docs/api-reference-welcome
x-provenance:
  generated: '2026-08-13'
  method: derived
  source: postman/insider-one-apis.postman_collection.json
  source_url: https://documenter.gw.postman.com/api/collections/24851117/2sB3dSR9bM
  publisher_page: https://developers.insiderone.com/
  note: Insider One publishes a single public Postman collection covering every REST API. This document is the subset of that collection served from ineureka.api.useinsider.com.
  omitted:
  - name: All Products Collection
    reason: the published collection carries an empty URL for this request; nothing to derive
