openapi: 3.2.0
info:
  title: Insider One Live Activity Live Activities API
  version: 1.0.0
  description: 'iOS Live Activity registration and lifecycle: register, start, update, end, and add/remove users.


    Derived by API Evangelist from Insider One''s own public Postman collection ("Insider One APIs", published at https://developers.insiderone.com/). Paths, methods, headers, query parameters and request/response examples are verbatim from that collection; nothing is invented. The 429 response is documented for all Insider One APIs on https://academy.insiderone.com/docs/api-rate-limits-1 .'
  contact:
    name: Insider One Support
    email: support@useinsider.com
    url: https://academy.insiderone.com/docs/insider-one-apis-1
  termsOfService: https://insiderone.com/terms-of-use/
servers:
- url: https://live-activity.api.useinsider.com
tags:
- name: Live Activities
paths:
  /api/v1/live-activity/add-users:
    post:
      operationId: addUsers
      summary: /add-users
      tags:
      - Live Activities
      description: 'This request adds new insider_ids to the segment of an activity previously created with /register:


        Eligible devices of the added users are included in the activity segment.'
      security:
      - ApiKey: []
      requestBody:
        content:
          application/json:
            example:
              activity_id: 550e8400-e29b-41d4-a716-446655440000
              activity_type: DeliveryActivityAttributes
              insider_ids:
              - user-901
              - user-902
              - user-903
      responses:
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /api/v1/live-activity/end:
    post:
      operationId: endLiveActivities
      summary: /end live activities
      tags:
      - Live Activities
      description: This request ends an activity started via /start.
      security:
      - ApiKey: []
      requestBody:
        content:
          application/json:
            example:
              activity_id: 550e8400-e29b-41d4-a716-446655440000
              activity_type: OrderTrackingAttributes
              content:
                title: Delivered ✓
                message: Your order has been delivered successfully.
                content_state:
                  status: delivered
                  deliveredAt: '2026-05-20T14:32:00Z'
      responses:
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /api/v1/live-activity/register:
    post:
      operationId: registerLiveActivities
      summary: /register live activities
      tags:
      - Live Activities
      description: This request registers a group of insider_ids for a given activity_type on Insider One's end in advance.
      x-source-note: Source collection has a typo in this request URL ("live-activity.api.useinsider.comapi/v1/..."); host and path split here as live-activity.api.useinsider.com + /api/v1/live-activity/register.
      security:
      - ApiKey: []
      requestBody:
        content:
          application/json:
            example:
              activity_type: OrderTrackingAttributes
              insider_ids:
              - user-123
              - user-456
              - user-789
              ends_at: '2026-05-20T14:30:00Z'
      responses:
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /api/v1/live-activity/remove-users:
    post:
      operationId: removeUsers
      summary: /remove-users
      tags:
      - Live Activities
      description: 'This request bulk-removes the devices matching the given insider_ids from the segment of an activity previously created with /register:


        The removed users do not receive the push when /start is called.'
      security:
      - ApiKey: []
      requestBody:
        content:
          application/json:
            example:
              activity_id: 550e8400-e29b-41d4-a716-446655440000
              activity_type: DeliveryActivityAttributes
              insider_ids:
              - user-12
              - user-77
      responses:
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /api/v1/live-activity/start:
    post:
      operationId: startLiveActivities
      summary: /start live activities
      tags:
      - Live Activities
      description: This request actually starts an activity that was prepared via /register.
      security:
      - ApiKey: []
      requestBody:
        content:
          application/json:
            example:
              activity_id: 550e8400-e29b-41d4-a716-446655440000
              activity_type: OrderTrackingAttributes
              content:
                title: Your order is being prepared
                message: 'Estimated delivery: 14:30'
                content_state:
                  status: preparing
                  eta: '2026-05-20T14:30:00Z'
      responses:
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /api/v1/live-activity/update:
    post:
      operationId: updateLiveActivities
      summary: /update live activities
      tags:
      - Live Activities
      description: This request updates the content of an activity that was started via /start.
      security:
      - ApiKey: []
      requestBody:
        content:
          application/json:
            example:
              activity_id: 550e8400-e29b-41d4-a716-446655440000
              activity_type: OrderTrackingAttributes
              content:
                title: Your order is being prepared
                message: 'Estimated delivery: 14:30'
                content_state:
                  status: preparing
                  eta: '2026-05-20T14:30:00Z'
      responses:
        '429':
          $ref: '#/components/responses/TooManyRequests'
components:
  responses:
    TooManyRequests:
      description: Too Many Requests. The published per-endpoint rate limit was exceeded; back off and retry, honouring Retry-After when present.
      content:
        application/json:
          example:
            message: Too Many Requests
            status: 429
  securitySchemes:
    ApiKey:
      type: apiKey
      in: header
      name: X-Api-Key
      description: Insider One API key for this API.
externalDocs:
  description: Insider One API reference
  url: https://academy.insiderone.com/docs/api-reference-welcome
x-provenance:
  generated: '2026-08-13'
  method: derived
  source: postman/insider-one-apis.postman_collection.json
  source_url: https://documenter.gw.postman.com/api/collections/24851117/2sB3dSR9bM
  publisher_page: https://developers.insiderone.com/
  note: Insider One publishes a single public Postman collection covering every REST API. This document is the subset of that collection served from live-activity.api.useinsider.com.
