openapi: 3.2.0
info:
  title: Insider Email API
  version: 1.0.0
  contact:
    name: Insider One Support
    email: support@useinsider.com
    url: https://academy.insiderone.com/docs/insider-one-apis-1
  termsOfService: https://insiderone.com/terms-of-use/
  description: 'Operations tagged Email across 2 of this provider''s published API definitions: insider-analytics-openapi.yml, insider-contact-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://analytics.api.useinsider.com
- url: https://contact.useinsider.com
tags:
- name: Email
paths:
  /email/v1/campaign/list:
    get:
      operationId: getEmailCampaignList
      summary: Get email campaign list
      tags:
      - Email
      description: 'This request allows you to get the analytics of your email campaigns for a given time period.


        The campaigns on the Draft and Scheduled statuses are not listed in the response.


        Query Parameters

        The following are the query parameters you need to use in your request.


        Parameter

        Data Type

        Description

        Required


        page

        Integer

        Specifies the number of pages of email campaigns

        Yes


        perPage

        Integer

        Specifies the number of emails to be listed per page

        Yes


        Before sending the request, make sure:


        To replace the authorization value with your own API key.


        To replace the sample values in page and perPage with your own values in the required data type.


        Sample Responses

        200 OK

        The following response returns if the request is successful.


        {

        "currentPage": 1,

        "data": [

        {

        "id": 67,

        "campaignName": "My awesome campaign",

        "startTime": "01-01-2023 12:30:15"

        },

        {

        "id": 66,

        "campaignName": "This is a great campaign",

        "startTime": "01-12-2022 09:30:17"

        },

        {

        "id": 65,

        "campaignName": "This is a recurring campaign",

        "startTime": "12-12-2022 12:45:15"

        },

        {

        "id": 64,

        "campaignName": "This is a newsletter",

        "startTime": "22-07-2022 16:00:01"

        },

        {

        "id": 63,

        "campaignName": "My email campaign",

        "startTime": "01-01-2022 18:30:00"

        }

        ],

        "firstPageUrl": "https://analytics.useinsider.com/email/v1/campaign/list?page=1&perPage=5",

        "from": 0,

        "lastPage": 14,

        "lastPageUrl": "https://analytics.useinsider.com/email/v1/campaign/list?page=14&perPage=5",

        "nextPageUrl": "https://analytics.useinsider.com/email/v1/campaign/list?page=2&perPage=5",

        "path": "/email/v1/campaign/list",

        "perPage": 5,

        "prevPageUrl": "https://analytics.useinsider.com/email/v1/campaign/list?page=1&perPage=5",

        "to": 0,

        "total": 67

        }


        400 Bad Request

        Sorry, we’ve received an invalid request from your side. You can try again later.


        400 Bad Request

        Sorry, we couldn’t validate the request at the moment. You can try again later.


        500 Internal Server Error

        Sorry, we couldn’t receive any response from our server. You can try again later.


        Limitations

        When sending your request, make sure to follow these limitations:


        All functions must be executed with an HTTPS GET request.


        The x-ins-auth-key should be provided as the authorization key on the request header. If the key is incorrect, the operation will not be executed and an authorization error will return in the response.


        This API provides data for a 1 year-range.


        You can send 1000 requests/per minute with the same API Key. If you exceed the rate limit, you will receive a 429 error.


        The perPage value should be between 1-100.'
      parameters:
      - name: page
        in: query
        required: false
        schema:
          type: string
        example: Integer
      - name: perPage
        in: query
        required: false
        schema:
          type: string
        example: Integer
      security:
      - InsAuthKey: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                currentPage: 2
                data:
                - id: 1084265
                  campaignName: Email 1
                  startTime: 05-05-2023 10:09:28
                - id: 1083699
                  campaignName: A great email campaign
                  startTime: 29-04-2023 14:05:04
                - id: 1083536
                  campaignName: My amazing email campaign
                  startTime: 27-04-2023 15:28:33
                - id: 1083532
                  campaignName: RSS Email
                  startTime: 27-04-2023 15:13:11
                - id: 1083530
                  campaignName: Email campaign
                  startTime: 27-04-2023 14:34:05
                firstPageUrl: https://analytics.useinsider.com/email/v1/campaign/list?page=1&perPage=5
                from: 5
                lastPage: 38
                lastPageUrl: https://analytics.useinsider.com/email/v1/campaign/list?page=38&perPage=5
                nextPageUrl: https://analytics.useinsider.com/email/v1/campaign/list?page=3&perPage=5
                path: /email/v1/campaign/list
                perPage: 5
                prevPageUrl: https://analytics.useinsider.com/email/v1/campaign/list?page=1&perPage=5
                to: 10
                total: 190
        '429':
          $ref: '#/components/responses/TooManyRequests'
    servers:
    - url: https://analytics.api.useinsider.com
  /email/v1/campaign/statistics:
    get:
      operationId: getEmailCampaignAnalytics
      summary: Get email campaign analytics
      tags:
      - Email
      description: 'This request allows you to get the analytics of your email campaigns for a given time period.


        The campaigns on the Draft and Scheduled statuses are not listed in the response.


        Query Parameters

        The following are the query parameters you need to use in your request.


        Parameter

        Data Type

        Description

        Required


        campaignId

        Integer

        Your campaign ID that can be found on the campaign URL.

        Yes


        startTime

        int64

        The time campaign is being launched. Specifies a 10-digit epoch start time.

        Yes


        endTime

        int64

        The current date (today’s date on the payload). It can be customizable according to your use case. Specifies a 10-digit epoch start time.

        No


        If the endTime value is empty, it will be populated with today’s date and time in UTC.


        Before sending the request, make sure:


        To replace the authorization value with your own API key.


        To replace the sample values in campaignID, startTime, and endTime with your own values in the required data type.


        Sample Responses

        200 OK

        The following response returns if the request is successful.


        {

        "data": {

        "details": {},

        "summary": {

        "blocks": 300,

        "bounces": 0,

        "clickRate": 1.45,

        "clickToOpen": 2860,

        "conversion": 22,

        "conversionRate": 0.01,

        "delivered": 235746,

        "frequencyDrop": 0,

        "invalid": 0,

        "linkActivities": [

        {

        "totalClick": 1,

        "uniqueClick": 1,

        "url": "https://google.com"

        }

        ],

        "machineOpen": 0,

        "openRate": 6.48,

        "revenue": 0,

        "sendingDrop": 0,

        "sent": 236573,

        "spams": 2,

        "systemDrop": 0,

        "totalClick": 4931,

        "totalOpen": 64518,

        "uniqueClick": 3429,

        "uniqueOpen": 15272,

        "unsubscribes": 100

        }

        }

        }


        400 Bad Request

        Sorry, we’ve received an invalid request from your side. You can try again later.


        400 Bad Request

        Sorry, we couldn’t validate the request at the moment. You can try again later.


        400 Bad Request

        Sorry, we detected an invalid Campaign ID in your request. The Campaign ID is not found in the database. You can confirm your Campaign ID by checking the InOne panel.


        406 Not Acceptable Request

        Sorry, we received an invalid request. We are able to provide the analytics data for only the last 1 year.


        500 Internal Server Error

        Sorry, we couldn’t receive any response from our server. You can try again later.


        Limitations

        When sending your request, make sure to follow these limitations.


        All functions must be executed with an HTTPS GET request.


        The x-ins-auth-key should be provided as the authorization key on the request header. If the key is incorrect, the operation will not be executed and an authorization error will return in the response.


        This API provides data for a 1 year-range.


        You can send 100 requests/per minute with the same API Key. If you exceed the rate limit, you will receive a 429 error.


        The perPage value should be between 1-100.'
      parameters:
      - name: campaignId
        in: query
        required: false
        schema:
          type: string
        example: integer
      - name: startTime
        in: query
        required: false
        schema:
          type: string
        example: int64
      security:
      - InsAuthKey: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                data:
                  details:
                    '4160':
                      blocks: 0
                      bounces: 0
                      clickRate: 0
                      clickToOpen: 0
                      conversion: 0
                      conversionRate: 0
                      delivered: 12
                      frequencyDrop: 0
                      invalid: 0
                      invalidDrop: 0
                      linkActivity: []
                      machineOpen: 2
                      mobileRevenue: 0
                      openRate: 16.666666666666664
                      recommendationRevenue: 0
                      revenue: 0
                      sendingDrop: 0
                      sent: 12
                      spams: 0
                      systemDrop: 0
                      totalClick: 0
                      totalOpen: 2
                      uniqueClick: 0
                      uniqueMachineOpen: 2
                      uniqueOpen: 2
                      unsubscribes: 0
                  isp:
                  - metrics:
                      blocks: 0
                      bounces: 0
                      clickThroughRate: 0
                      delivered: 10
                      openRate: 0
                      totalClick: 0
                      totalOpen: 0
                      uniqueClick: 0
                      uniqueOpen: 0
                    name: name1
                  - metrics:
                      blocks: 0
                      bounces: 0
                      clickThroughRate: 0
                      delivered: 1
                      openRate: 100
                      totalClick: 0
                      totalOpen: 1
                      uniqueClick: 0
                      uniqueOpen: 1
                    name: name2
                  - metrics:
                      blocks: 0
                      bounces: 0
                      clickThroughRate: 0
                      delivered: 1
                      openRate: 100
                      totalClick: 0
                      totalOpen: 1
                      uniqueClick: 0
                      uniqueOpen: 1
                    name: name3
                  summary:
                    blocks: 0
                    bounces: 0
                    clickRate: 0
                    clickToOpen: 0
                    conversion: 0
                    conversionRate: 0
                    delivered: 12
                    frequencyDrop: 0
                    invalid: 0
                    invalidDrop: 0
                    linkActivity: []
                    machineOpen: 2
                    mobileRevenue: 0
                    openRate: 16.666666666666664
                    recommendationRevenue: 0
                    revenue: 0
                    sendingDrop: 0
                    sent: 12
                    spams: 0
                    systemDrop: 0
                    totalClick: 0
                    totalOpen: 2
                    uniqueClick: 0
                    uniqueMachineOpen: 2
                    uniqueOpen: 2
                    unsubscribes: 0
        '429':
          $ref: '#/components/responses/TooManyRequests'
    servers:
    - url: https://analytics.api.useinsider.com
  /email/v1/overall:
    get:
      operationId: getOverallAnalytics
      summary: Get overall analytics
      tags:
      - Email
      description: 'This request allows you to get the overall analytics of your email campaigns for a given time period


        The campaigns on the Draft and Scheduled statuses are not listed in the response.


        Query Parameters

        The following are the query parameters you need to use in your request.


        Parameter

        Data Type

        Description

        Required


        startTime

        int64

        The time campaign is being launched. Specifies a 10-digit epoch start time.

        Yes


        endTime

        int64

        The current date (today’s date on the payload). It can be customizable according to your case. Specifies a 10-digit epoch start time.

        No


        Before sending the request, make sure:


        To replace the authorization value with your own API key.


        To replace the sample values in start_date and end_date with your own values in the required data type.


        Sample Responses

        200 OK

        The following response returns if the request is successful.


        {

        "data": {

        "summary": {

        "blocks": 0,

        "bounceDrop": 0,

        "bounces": 0,

        "clickRate": 5.88,

        "conversion": 0,

        "conversionRate": 0,

        "delivered": 17,

        "frequencyDrop": 0,

        "invalid": 0,

        "invalidDrop": 0,

        "machineOpen": 0,

        "openRate": 47.05,

        "revenue": 0,

        "sendingDrop": 0,

        "sent": 27,

        "spamDrop": 0,

        "spams": 0,

        "systemDrop": 0,

        "totalClick": 1,

        "totalOpen": 15,

        "unsubscribeDrop": 0,

        "unsubscribes": 0

        },

        "linkActivities": [

        {

        "totalClick": 1,

        "uniqueClick": 1,

        "url": "https://google.com"

        }

        ]

        }

        }


        400 Bad Request

        Sorry, we’ve received an invalid request from your side. You can try again later.


        400 Bad Request

        Sorry, we couldn’t validate the request at the moment. You can try again later.


        429 Rate Limited

        Rate limited


        500 Internal Server Error

        Sorry, we couldn’t receive any response from our server. You can try again later.


        Limitations

        When sending your request, make sure to follow these limitations:


        All functions must be executed with an HTTPS GET request.


        The x-ins-auth-key should be provided as the authorization key on the request header. If the key is incorrect, the operation will not be executed and an authorization error will return in the response.


        This API provides data for a 1 year-range.


        You can send 100 requests/per minute with the same API Key. If you exceed the rate limit, you will receive a 429 error.


        The perPage value should be between 1-100.'
      parameters:
      - name: startTime
        in: query
        required: false
        schema:
          type: string
        example: int64
      - name: endTime
        in: query
        required: false
        schema:
          type: string
        example: int64
      security:
      - InsAuthKey: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                data:
                  summary:
                    blocks: 4791
                    bounceDrop: 0
                    bounces: 0
                    clickRate: 0.7633587786259541
                    conversion: 0
                    conversionRate: 0
                    delivered: 43261
                    frequencyDrop: 0
                    invalid: 0
                    invalidDrop: 0
                    machineOpen: 2
                    openRate: 6.106870229007633
                    revenue: 0
                    sendingDrop: 4792
                    sent: 48053
                    spamDrop: 0
                    spams: 1
                    systemDrop: 0
                    totalClick: 2
                    totalOpen: 12
                    uniqueClick: 1
                    uniqueMachineOpen: 2
                    uniqueOpen: 8
                    unsubscribeDrop: 0
                    unsubscribes: 3
                  linkActivities:
                  - totalClick: 2
                    uniqueClick: 1
                    url: https://mycampaign.useinsider
        '429':
          $ref: '#/components/responses/TooManyRequests'
    servers:
    - url: https://analytics.api.useinsider.com
  /email/v2/campaign/list:
    get:
      operationId: getEmailCampaignListV2
      summary: Get email campaign list V2
      tags:
      - Email
      description: 'This request allows you to get the analytics of your email campaigns for a given time period with more metrics than V1.


        The campaigns on the Draft and Scheduled statuses are not listed in the response.


        Query Parameters

        The following are the query parameters you need to use in your request.


        Parameter

        Data Type

        Description

        Required


        page

        Integer

        Specifies the number of pages of email campaigns

        Yes


        perPage

        Integer

        Specifies the number of emails to be listed per page

        Yes


        Before sending the request, make sure:


        To replace the authorization value with your own API key.


        To replace the sample values in page and perPage with your own values in the required data type.


        Sample Responses

        200 OK

        The following response returns if the request is successful.


        {

        "currentPage": 1,

        "data": [

        {

        "id": 6648,

        "name": "My Email Campaign",

        "tags": "marketing",

        "type": "experiment",

        "subject": "Here is your experiment",

        "senderDomain": "@useinsider.com",

        "utmParameters": {

        "utm_term": "",

        "utm_medium": "email",

        "utm_source": "insider",

        "utm_status": true,

        "utm_content": "example",

        "utm_campaign": "insider_0225"

        },

        "startTime": "05-02-2025 09:00:05"

        }

        ],

        “firstPageUrl”: “https://analytics.useinsider.com/email/v2/campaign/list?page=1&perPage=10”,

        “from”: 0,

        “lastPage”: 79,

        “lastPageUrl”: “https://analytics.useinsider.com/email/v2/campaign/list?page=79&perPage=10”,

        “nextPageUrl”: “https://analytics.useinsider.com/email/v2/campaign/list?page=2&perPage=10”,

        “path”: “/email/v2/campaign/list”,

        “perPage”: 10,

        “prevPageUrl”: “https://analytics.useinsider.com/email/v2/campaign/list?page=1&perPage=10”,

        “to”: 0,

        “total”: 787

        }


        400 Bad Request

        Sorry, we’ve received an invalid request from your side. You can try again later.


        400 Bad Request

        Sorry, we couldn’t validate the request at the moment. You can try again later.


        500 Internal Server Error

        Sorry, we couldn’t receive any response from our server. You can try again later.


        Limitations

        When sending your request, make sure to follow these limitations:


        All functions must be executed with an HTTPS GET request.


        The x-ins-auth-key should be provided as the authorization key on the request header. If the key is incorrect, the operation will not be executed and an authorization error will return in the response.


        This API provides data for a 1 year-range.


        You can send 1000 requests/per minute with the same API Key. If you exceed the rate limit, you will receive a 429 error.


        The perPage value should be between 1-100.'
      parameters:
      - name: page
        in: query
        required: false
        schema:
          type: string
        example: Integer
      - name: perPage
        in: query
        required: false
        schema:
          type: string
        example: Integer
      security:
      - InsAuthKey: []
      responses:
        '429':
          $ref: '#/components/responses/TooManyRequests'
    servers:
    - url: https://analytics.api.useinsider.com
  /email/v2/campaign/statistics:
    get:
      operationId: getEmailCampaignAnalyticsV2
      summary: Get email campaign analytics V2
      tags:
      - Email
      description: This request allows you to get the analytics of your email campaigns for a given time period with more metrics than V1.
      parameters:
      - name: campaignId
        in: query
        required: false
        schema:
          type: string
        example: integer
      - name: startTime
        in: query
        required: false
        schema:
          type: string
        example: int64
      security:
      - InsAuthKey: []
      responses:
        '429':
          $ref: '#/components/responses/TooManyRequests'
    servers:
    - url: https://analytics.api.useinsider.com
  /email/v2/overall:
    get:
      operationId: getOverallAnalyticsV2
      summary: Get overall analytics V2
      tags:
      - Email
      description: 'This request allows you to get the overall analytics of your email campaigns for a given time period with more metrics than V1.


        The campaigns on the Draft and Scheduled statuses are not listed in the response.


        Query Parameters

        The following are the query parameters you need to use in your request.


        Parameter

        Data Type

        Description

        Required


        startTime

        int64

        The time campaign is being launched. Specifies a 10-digit epoch start time.

        Yes


        endTime

        int64

        The current date (today’s date on the payload). It can be customizable according to your case. Specifies a 10-digit epoch start time.

        No


        Before sending the request, make sure:


        To replace the authorization value with your own API key.


        To replace the sample values in start_date and end_date with your own values in the required data type.


        Sample Responses

        200 OK

        The following response returns if the request is successful.


        {

        "data": {

        "summary": {

        "sent": 28177222,

        "delivered": 27174347,

        "deliveryRate": 96.44083082427359,

        "openRate": 15.377410908898751,

        "totalOpens": 5028722,

        "uniqueOpens": 4178711,

        "clickThroughRate": 0.10888946107886237,

        "totalClicks": 291619,

        "uniqueClicks": 29590,

        "clickToOpenRate": 0.708113099948764,

        "conversions": 365,

        "conversionRate": 0.0013431785499758283,

        "revenue": 54860988,

        "unsubscribe": 5083,

        "bounce": 2238,

        "bounceRate": 0.007942585681441554,

        "blocks": 1013573,

        "spamReports": 480,

        "uniqueUserOpens": 1216549,

        "uniqueUserOpenRate": 4.4768288268343674,

        "uniqueMachineOpens": 2962162,

        "uniqueMachineOpenRate": 10.900582082064382,

        "systemDrops": 541566,

        "sendingDrops": 1558662,

        "frequencyDrop": 0,

        "unsubscribeDrop": 533725,

        "spamDrop": 22,

        "invalidDrop": 12,

        "bounceDrop": 8612

        },

        "linkActivities": [

        {

        "totalClick": 9908,

        "uniqueClick": 5923,

        "link": "https://sample.useinsider.com/download"

        },

        {

        "totalClick": 379,

        "uniqueClick": 109,

        "link": "https://sample.useinsider.com/download/v"

        },

        {

        "totalClick": 378,

        "uniqueClick": 116,

        "link": "https://sample.useinsider.com/download_insider"

        },

        {

        "totalClick": 378,

        "uniqueClick": 115,

        "link": "https://sample.useinsider.com/download_useinsider"

        },

        {

        "totalClick": 375,

        "uniqueClick": 113,

        "link": "https://sample.useinsider.com/download_open"

        }

        ],

        "topEmailClients": {

        "android": 0.46,

        "apple-mail": 0.1,

        "g-mail": 84.54,

        "i-pad": 0.02,

        "i-phone": 0.08,

        "other": 7.56,

        "other-web-mail": 0.05,

        "outlook": 0.01,

        "yahoo": 7.19

        },

        "topEmailDevices": {

        "desktop": 0.13,

        "mobile": 0.53,

        "others": 7.57,

        "tablet": 0.07,

        "web-mail": 91.7

        }

        }

        }


        400 Bad Request

        Sorry, we’ve received an invalid request from your side. You can try again later.


        400 Bad Request

        Sorry, we couldn’t validate the request at the moment. You can try again later.


        429 Rate Limited

        Rate limited


        500 Internal Server Error

        Sorry, we couldn’t receive any response from our server. You can try again later.


        Limitations

        When sending your request, make sure to follow these limitations:


        All functions must be executed with an HTTPS GET request.


        The x-ins-auth-key should be provided as the authorization key on the request header. If the key is incorrect, the operation will not be executed and an authorization error will return in the response.


        This API provides data for a 1 year-range.


        You can send 100 requests/per minute with the same API Key. If you exceed the rate limit, you will receive a 429 error.


        The perPage value should be between 1-100.'
      parameters:
      - name: startTime
        in: query
        required: false
        schema:
          type: string
        example: int64
      - name: endTime
        in: query
        required: false
        schema:
          type: string
        example: int64
      security:
      - InsAuthKey: []
      responses:
        '429':
          $ref: '#/components/responses/TooManyRequests'
    servers:
    - url: https://analytics.api.useinsider.com
  /email/v1/subscribe:
    post:
      operationId: resubscribeEmailUsers
      summary: Resubscribe email users
      tags:
      - Email
      description: 'This API allows you to set an unreachable email status as reachable on Insider''s email platform.


        Body Parameters

        Every request made to the request endpoint requires a request body formatted in JSON and containing your email''s content and metadata. This includes the subscriber''s email address.


        Parameter

        Description

        Data Type

        Required


        email

        User''s email address

        String

        Yes


        Sample Body

        The following is a sample body to resubscribe a user to the Email platform.


        {

        "email": "sample@mail.com"

        }


        Sample Responses

        200 OK

        The following response returns if the request is successful.


        {

        "statusMessage": "OK"

        }


        400 Bad Request

        {

        "statusMessage": "Bad request"

        }


        401 Unauthorized

        The following response returns if the request is not authorized.


        {

        "statusMessage": "Unauthorized"

        }


        Limitations

        When sending your request, make sure to follow these limitations.


        All functions must be executed with a simple HTTPS POST request.


        Only emails can be sent via this API. No data can be retrieved.


        The API Key should be provided as the authorization key on the request header. If the key is incorrect, the operation will not be executed and an authorization error will return in the response.


        The value of X-PARTNER-NAME header should be lowercase.'
      security:
      - PartnerName: []
      - RequestToken: []
      requestBody:
        content:
          application/json:
            example:
              email: sample@useinsider.com
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                statusMessage: OK
        '429':
          $ref: '#/components/responses/TooManyRequests'
    servers:
    - url: https://contact.useinsider.com
  /email/v1/unsubscribe:
    post:
      operationId: unsubscribeEmailUsersFromDatabase
      summary: Unsubscribe email users from database
      tags:
      - Email
      description: 'This API enables you to unsubscribe users from Insider''s email platform.


        Body Parameters

        Every request made to the request endpoint requires a request body formatted in JSON and containing your email''s content and metadata. This includes the subscriber''s email address.


        Parameter

        Description

        Data Type

        Required


        email

        User''s email address

        String

        Yes


        Sample Body

        The following is a sample body to unsubscribe a user from Email platform.


        {

        "email": "sample@mail.com"

        }


        Sample Responses

        200 OK

        The following response returns if the request is successful.


        {

        "statusMessage": "OK"

        }


        400 Bad Request

        {

        "statusMessage": "Bad request"

        }


        401 Unauthorized

        The following response returns if the request is not authorized.


        {

        "statusMessage": "Unauthorized"

        }


        Limitations

        When sending your request, make sure to follow these limitations.


        All functions must be executed with a simple HTTPS POST request.


        Only global unsubscribers can be sent via this API. No data can be retrieved.


        The API Key should be provided as the authorization key on the request header. If the key is incorrect, the operation will not be executed and an authorization error will return in the response.


        The value of X-PARTNER-NAME header should be lowercase.'
      security:
      - PartnerName: []
      - RequestToken: []
      requestBody:
        content:
          application/json:
            example:
              email: sample@useinsider.com
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                statusMessage: OK
        '429':
          $ref: '#/components/responses/TooManyRequests'
    servers:
    - url: https://contact.useinsider.com
  /email/v2/subscribe:
    post:
      operationId: resubscribeEmailUsersForEmailGlobalSubscribe
      summary: Resubscribe Email Users for Email Global Subscribe
      tags:
      - Email
      description: 'The Email Resubscribe API allows you to set an unreachable email status as reachable on the Insider''s Email platform.


        The Resubscribe API v2 is the latest version of the Email Resubscribe API, which supports bulk data ingestion. If you''re still using the previous version (v1), we strongly recommend migrating to this updated version to benefit from bulk updates and enhanced functionality. Please note that new integrations with v1 are no longer supported.


        API usage changes depending on the identifier format you''re using. Please refer to the relevant section based on your identifier configuration.


        Body Parameters


        Parameter

        Description

        Data Type

        Required


        emails

        User''s email address(es)

        String Array

        es (normal and email-based)


        uuids

        Users unique user identifier

        String Array

        Yes (only if you are not using email as an identifier and using profile-based)


        Sample Requests

        When Email is the Identifier or Email-Based Flow is Enabled

        Every request made to the request endpoint requires a request body formatted in JSON and containing your email''s content and metadata.


        For the email-based flow, the same request is used; however, it will only update the status of existing users and will not create new users.


        The emails field is required for resubscribe requests.


        curl --location --request POST ''http://contact.useinsider.com/email/v2/subscribe'' \

        --header ''Content-Type: application/json'' \

        --header ''X-PARTNER-NAME: mybrand'' \

        --header ''X-REQUEST-TOKEN: a1b2c3d4e5f6'' \

        --data-raw ''{

        "emails": [

        "sample1@useinsider.com",

        "sample2@useinsider.com"

        ]

        }''


        When UUID is the Identifier and Profile-Based Flow is Enabled

        Every request made to the request endpoint requires a request body formatted in JSON and containing your email''s content and metadata.


        If the profile-based flow is enabled for your account:- If the user in the request exists, their status will be updated.- If the user does not exist, a new user will be created.


        The uuid, and uploader_email fields are required for resubscribe requests.


        curl --location ''https://contact.useinsider.com/email/v2/subscribe'' \

        --header ''Content-Type: application/json'' \

        --header ''x-request-token: mybrand'' \

        --header ''x-partner-name: a1b2c3d4e5f6'' \

        --data-raw ''{

        "uuids": [

        "test-uuid-1",

        "test-uuid-2",

        "test-uuid-3",

        "test-uuid-7"

        ],

        "emails": [

        "samlpe1@useinsider.com",

        "sample2@useinsider.com",

        "sample3@useinsider.com",

        "sample4@useinsider.com"

        ]

        }''


        Sample Responses

        200 OK

        {

        "statusMessage": "OK"

        }


        400 Bad Request

        {

        "statusMessage": "Bad request"

        }


        401 Unauthorized

        {

        "statusMessage": "Unauthorized"

        }


        Limitations


        All functions must be executed with a simple HTTPS POST request.


        A maximum of 500 emails or UUIDs can be consumed in one request.


        The API Key should be provided as the authorization key in the request header. If the key is incorrect, the operation will not be executed, and an authorization error will return in the response.


        The value of X-PARTNER-NAME header should be lowercase.


        The default limit shown here is a standard baseline. If your use case requires higher capacity, feel free to reach out to the Insider team — we can adjust it to fit your needs.'
      security:
      - PartnerName: []
      - RequestToken: []
      requestBody:
        content:
          application/json:
            examples:
              default:
                value:
                  emails:
                  - sample1@useinsider.com
                  - sample2@useinsider.com
              resubscribe-email-users-for-email-group-subscribe:
                summary: Resubscribe Email Users for Email Group Subscribe
                value:
                  emails:
                  - sample1@useinsider.com
                  - sample2@useinsider.com
                  group_id: 12345
      responses:
        '429':
          $ref: '#/components/responses/TooManyRequests'
    servers:
    - url: https://contact.useinsider.com
  /email/v2/unsubscribe:
    post:
      operationId: unsubscribeEmailUsersForEmailGlobalUnsubscription
      summary: Unsubscribe email users for email global unsubscription
      tags:
      - Email
      description: 'The Email Unsubscribe API allows you to ingest email addresses into either the global unsubscribe list or a specific unsubscribe group you created in InOne.


        The Email Unsubscribe API v2 is the latest version of the Email Unsubscribe API, which supports bulk data ingestion. If you''re still using the previous version (v1), we strongly recommend migrating to this updated version to benefit from bulk updates and enhanced functionality. Please note that new integrations with v1 are no longer supported.


        API usage changes depending on the identifier format you''re using. Please refer to the relevant section based on your identifier configuration.


        Body Parameters


        Parameter

        Description

        Data Type

        Required


        emails

        User''s email addresses

        String Array

        Yes (normal and email based)


        uuids

        User''s unique user identifier

        String Array

        Yes (only if you are not using email as an identifier and using profile based)


        Sample Requests

        When Email is the Identifier or Email-Based Flow is Enabled

        Every request made to the request endpoint requires a request body formatted in JSON and containing your email''s content and metadata.


        In cases where the email is used as the identifier, if the user exists, their status will be updated; if the user does not exist, a new user will be created.For the email-based flow, the same request is used; however, it will only update the status of existing users and will not create new users.


        The emails field is required for global unsubscribe requests.


        curl --location ''contact.useinsider.com/email/v2/unsubscribe'' \

        --header ''X-PARTNER-NAME: mybrand'' \

        --header ''X-REQUEST-TOKEN: a1b2c3d4e5f6'' \

        --header ''Content-Type: application/json'' \

        --data-raw ''{

        "emails": [

        "sample1@useinsider.com",

        "sample2@useinsider.com",

        "sample3@useinsider.com"

        ]

        }''


        When UUID is the Identifier and Profile-Based Flow is Enabled

        Every request made to the request endpoint requires a request body formatted in JSON and containing your email''s content and metadata.


        If the profile-based flow is enabled for your account,- If the user in the request exists, their status will be updated.- If the user does not exist, a new user will be created.


        The uuid and email fields are required for global unsubscribe requests.


        curl --location ''http://contact.useinsider.com/email/v2/unsubscribe'' \

        --header ''Content-Type: application/json'' \

        --header ''x-request-token: a1b2c3d4e5f6'' \

        --header ''x-partner-name: mybrand'' \

        --data-raw ''{

        "users": [

        {

        "uuid": "test-uuid-1",

        "email": "sample1@useinsider.com"

        },

        {

        "uuid": "test-uuid-2",

        "email": "sample2@useinsider.com"

        },

        {

        "uuid": "test-uuid-3",

        "email": "sample3@useinsider.com"

        },

        {

        "uuid": "test-uuid-4",

        "email": "sample4@useinsider.com"

        }

        ]

        }''


        Sample Responses

        200 OK

        The following response returns if the request is successful.


        {

        "statusMessage": "OK"

        }


        400 Bad Request

        {

        "statusMessage": "Bad request"

        }


        401 Unauthorized

        The following response returns if the request is not authorized.


        {

        "statusMessage": "Unauthorized"

        }


        Limitations

        When sending your request, make sure to follow these limitations.


        All functions must be executed with a simple HTTPS POST request.


        A maximum of 500 emails or UUIDs can be consumed in one request.


        The API Key should be provided as the authorization key in the request header. If the key is incorrect, the operation will not be executed, and an authorization error will return in the response.


        The value of X-PARTNER-NAME header should be lowercase.'
      security:
      - PartnerName: []
      - RequestToken: []
      requestBody:
        content:
          application/json:
            examples:
              default:
                value:
                  emails:
                  - sample1@useinsider.com
                  - sample2@useinsider.com
                  - sample3@useinsider.com
              unsubscribe-email-users-for-email-group:
                summary: Unsubscribe email users for email group
                value:
                  emails:
                  - sample1@useinsider.com
                  - sample2@useinsider.com
                  - sample3@useinsider.com
      responses:
        '200':
          description: OK
          content:
            application/json:
              examples:
                default:
                  value:
                    statusMessage: OK
                unsubscribe-email-users-for-email-group:
                  value:
                    statusMessage: OK
        '429':
          $ref: '#/components/responses/TooManyRequests'
    servers:
    - url: https://contact.useinsider.com
components:
  responses:
    TooManyRequests:
      description: Too Many Requests. The published per-endpoint rate limit was exceeded; back off and retry, honouring Retry-After when present.
      content:
        application/json:
          example:
            message: Too Many Requests
            status: 429
  securitySchemes:
    InsAuthKey:
      type: apiKey
      in: header
      name: X-INS-AUTH-KEY
      description: Insider One authorization key for this API, generated in the InOne panel.
    PartnerName:
      type: apiKey
      in: header
      name: X-PARTNER-NAME
      description: Insider One partner (account) name, lowercase.
    RequestToken:
      type: apiKey
      in: header
      name: X-REQUEST-TOKEN
      description: Insider One API key (request token) generated in the InOne panel.
externalDocs:
  description: Insider One API reference
  url: https://academy.insiderone.com/docs/api-reference-welcome
x-refined-from:
- insider-analytics-openapi.yml
- insider-contact-openapi.yml
x-provenance:
  generated: '2026-08-13'
  method: derived
  source: postman/insider-one-apis.postman_collection.json
  source_url: https://documenter.gw.postman.com/api/collections/24851117/2sB3dSR9bM
  publisher_page: https://developers.insiderone.com/
  note: Insider One publishes a single public Postman collection covering every REST API. This document is the subset of that collection served from analytics.api.useinsider.com.
