openapi: 3.2.0
info:
  title: Insider One Eureka Search Category Merchandising API
  version: 1.0.0
  description: 'Eureka product discovery: search results, search suggestions and category/brand merchandising collections.


    Derived by API Evangelist from Insider One''s own public Postman collection ("Insider One APIs", published at https://developers.insiderone.com/). Paths, methods, headers, query parameters and request/response examples are verbatim from that collection; nothing is invented. The 429 response is documented for all Insider One APIs on https://academy.insiderone.com/docs/api-rate-limits-1 .'
  contact:
    name: Insider One Support
    email: support@useinsider.com
    url: https://academy.insiderone.com/docs/insider-one-apis-1
  termsOfService: https://insiderone.com/terms-of-use/
servers:
- url: https://ineureka.api.useinsider.com
tags:
- name: Category Merchandising API
paths:
  /api/web/collections:
    get:
      operationId: categoryCollection
      summary: Category Collection
      tags:
      - Category Merchandising API
      description: The Category Collection type in Eureka’s Category Merchandising API allows retrieval of all products in a specific category in the product catalog, helping narrow results by product type.
      responses:
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /api/web/collections/{type}:
    get:
      operationId: manageProductListingPages
      summary: Manage product listing pages
      tags:
      - Category Merchandising API
      description: Eureka’s Category Merchandising API allows you to curate and manage your product listing pages effectively.
      parameters:
      - name: type
        in: path
        required: true
        schema:
          type: string
      - name: cf
        in: query
        required: false
        schema:
          type: string
        example: '{COLLECTION_FILTER}'
      - name: p
        in: query
        required: false
        schema:
          type: string
        example: '{PARTNER_ID}'
      - name: l
        in: query
        required: false
        schema:
          type: string
        example: '{LOCALE}'
      - name: c
        in: query
        required: false
        schema:
          type: string
        example: '{CURRENCY}'
      responses:
        '429':
          $ref: '#/components/responses/TooManyRequests'
components:
  responses:
    TooManyRequests:
      description: Too Many Requests. The published per-endpoint rate limit was exceeded; back off and retry, honouring Retry-After when present.
      content:
        application/json:
          example:
            message: Too Many Requests
            status: 429
externalDocs:
  description: Insider One API reference
  url: https://academy.insiderone.com/docs/api-reference-welcome
x-provenance:
  generated: '2026-08-13'
  method: derived
  source: postman/insider-one-apis.postman_collection.json
  source_url: https://documenter.gw.postman.com/api/collections/24851117/2sB3dSR9bM
  publisher_page: https://developers.insiderone.com/
  note: Insider One publishes a single public Postman collection covering every REST API. This document is the subset of that collection served from ineureka.api.useinsider.com.
  omitted:
  - name: All Products Collection
    reason: the published collection carries an empty URL for this request; nothing to derive
