openapi: 3.2.0
info:
  title: Insider One SMS Transactional SMS API
  version: 1.0.0
  description: 'Transactional single and bulk SMS sending, plus SMS campaign, overall, transactional and OTP analytics.


    Derived by API Evangelist from Insider One''s own public Postman collection ("Insider One APIs", published at https://developers.insiderone.com/). Paths, methods, headers, query parameters and request/response examples are verbatim from that collection; nothing is invented. The 429 response is documented for all Insider One APIs on https://academy.insiderone.com/docs/api-rate-limits-1 .'
  contact:
    name: Insider One Support
    email: support@useinsider.com
    url: https://academy.insiderone.com/docs/insider-one-apis-1
  termsOfService: https://insiderone.com/terms-of-use/
servers:
- url: https://sms.useinsider.com
tags:
- name: Transactional SMS
paths:
  /v1/send:
    post:
      operationId: sendTransactionalSingleSms
      summary: Send transactional Single SMS
      tags:
      - Transactional SMS
      description: This API enables you to send targeted transactional SMS to your users.
      security:
      - InsAuthKey: []
      requestBody:
        content:
          application/json:
            example:
              content: This is SMS body.
              to: '+105555555555'
              callback: http://callback.url
              sendAt: '2024-03-30T11:30:27Z'
              uniqueArgs:
                additionalProp1: string
                additionalProp2: string
                additionalProp3: string
              settings:
                urlExcludeProtocol: true
                urlShorteningDomain: insdr.io
                urlShorteningStatus: true
                urlTrackingStatus: true
                smartEncoding: true
      responses:
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/sendMultipleMessage:
    post:
      operationId: sendTransactionalBulkSms
      summary: Send Transactional Bulk SMS
      tags:
      - Transactional SMS
      description: This API enables you to send targeted transactional SMS to your users.
      security:
      - InsAuthKey: []
      requestBody:
        content:
          application/json:
            example:
              messages:
              - phoneNumber: '+905555555555'
                content: This is SMS body.
                callback: http://callback.url
                settings:
                  urlExcludeProtocol: true
                  urlShorteningDomain: insdr.io
                  urlShorteningStatus: true
                  urlTrackingStatus: true
                  smartEncoding: true
                uniqueArgs:
                  additionalProp1: string
                  additionalProp2: string
                  additionalProp3: string
              - phoneNumber: 90 (555) 55
                content: This is SMS body.
                callback: http://callback.url
                settings:
                  urlExcludeProtocol: true
                  urlShorteningDomain: insdr.io
                  urlShorteningStatus: true
                  urlTrackingStatus: true
                  smartEncoding: true
                uniqueArgs:
                  additionalProp1: string
                  additionalProp2: string
                  additionalProp3: string
      responses:
        '429':
          $ref: '#/components/responses/TooManyRequests'
components:
  responses:
    TooManyRequests:
      description: Too Many Requests. The published per-endpoint rate limit was exceeded; back off and retry, honouring Retry-After when present.
      content:
        application/json:
          example:
            message: Too Many Requests
            status: 429
  securitySchemes:
    InsAuthKey:
      type: apiKey
      in: header
      name: X-INS-AUTH-KEY
      description: Insider One authorization key for this API, generated in the InOne panel.
externalDocs:
  description: Insider One API reference
  url: https://academy.insiderone.com/docs/api-reference-welcome
x-provenance:
  generated: '2026-08-13'
  method: derived
  source: postman/insider-one-apis.postman_collection.json
  source_url: https://documenter.gw.postman.com/api/collections/24851117/2sB3dSR9bM
  publisher_page: https://developers.insiderone.com/
  note: Insider One publishes a single public Postman collection covering every REST API. This document is the subset of that collection served from sms.useinsider.com.
