openapi: 3.2.0
info:
  title: Insider One Eureka Event Collection Event Collection API
  version: 1.0.0
  description: 'Search event collection for Eureka: search, product click, product list view, add to cart and purchase events.


    Derived by API Evangelist from Insider One''s own public Postman collection ("Insider One APIs", published at https://developers.insiderone.com/). Paths, methods, headers, query parameters and request/response examples are verbatim from that collection; nothing is invented. The 429 response is documented for all Insider One APIs on https://academy.insiderone.com/docs/api-rate-limits-1 .'
  contact:
    name: Insider One Support
    email: support@useinsider.com
    url: https://academy.insiderone.com/docs/insider-one-apis-1
  termsOfService: https://insiderone.com/terms-of-use/
servers:
- url: https://eurekaevent.api.useinsider.com
tags:
- name: Event Collection API
paths:
  /api/v1/events:
    post:
      operationId: collectUserEvent
      summary: Collect user's search event
      tags:
      - Event Collection API
      description: The Event Collection API allows you to integrate user event collection functionality into Eureka.
      responses:
        '429':
          $ref: '#/components/responses/TooManyRequests'
      x-source-note: The collection publishes five request variants against this single endpoint (search, product click, product list view, add to cart, purchase); each is kept as a named request-body example.
components:
  responses:
    TooManyRequests:
      description: Too Many Requests. The published per-endpoint rate limit was exceeded; back off and retry, honouring Retry-After when present.
      content:
        application/json:
          example:
            message: Too Many Requests
            status: 429
externalDocs:
  description: Insider One API reference
  url: https://academy.insiderone.com/docs/api-reference-welcome
x-provenance:
  generated: '2026-08-13'
  method: derived
  source: postman/insider-one-apis.postman_collection.json
  source_url: https://documenter.gw.postman.com/api/collections/24851117/2sB3dSR9bM
  publisher_page: https://developers.insiderone.com/
  note: Insider One publishes a single public Postman collection covering every REST API. This document is the subset of that collection served from eurekaevent.api.useinsider.com.
