openapi: 3.1.0
info:
  title: Insider One Contact API
  version: 1.0.0
  description: 'First-party segment upload and per-channel subscription management (subscribe/unsubscribe) for Email,
    SMS and WhatsApp.


    Derived by API Evangelist from Insider One''s own public Postman collection ("Insider One APIs", published at
    https://developers.insiderone.com/). Paths, methods, headers, query parameters and request/response examples
    are verbatim from that collection; nothing is invented. The 429 response is documented for all Insider One APIs
    on https://academy.insiderone.com/docs/api-rate-limits-1 .'
  contact:
    name: Insider One Support
    email: support@useinsider.com
    url: https://academy.insiderone.com/docs/insider-one-apis-1
  termsOfService: https://insiderone.com/terms-of-use/
externalDocs:
  description: Insider One API reference
  url: https://academy.insiderone.com/docs/api-reference-welcome
servers:
- url: https://contact.useinsider.com
tags:
- name: Email
- name: SMS
- name: User Data APIs
- name: WhatsApp
paths:
  /email/v1/subscribe:
    post:
      operationId: resubscribeEmailUsers
      summary: Resubscribe email users
      tags:
      - Email
      description: "This API allows you to set an unreachable email status as reachable on Insider's email platform.\n\
        \nBody Parameters\nEvery request made to the request endpoint requires a request body formatted in JSON\
        \ and containing your email's content and metadata. This includes the subscriber's email address.\n\nParameter\n\
        Description\nData Type\nRequired\n\nemail\nUser's email address\nString\nYes\n\nSample Body\nThe following\
        \ is a sample body to resubscribe a user to the Email platform.\n\n{\n    \"email\": \"sample@mail.com\"\
        \n}\n\nSample Responses\n200 OK\nThe following response returns if the request is successful.\n\n{\n  \"\
        statusMessage\": \"OK\"\n}\n\n400 Bad Request\n{\n  \"statusMessage\": \"Bad request\"\n}\n\n401 Unauthorized\n\
        The following response returns if the request is not authorized.\n\n{\n  \"statusMessage\": \"Unauthorized\"\
        \n}\n\nLimitations\nWhen sending your request, make sure to follow these limitations.\n\nAll functions must\
        \ be executed with a simple HTTPS POST request.\n\nOnly emails can be sent via this API. No data can be\
        \ retrieved.\n\nThe API Key should be provided as the authorization key on the request header. If the key\
        \ is incorrect, the operation will not be executed and an authorization error will return in the response.\n\
        \nThe value of X-PARTNER-NAME header should be lowercase."
      security:
      - PartnerName: []
      - RequestToken: []
      requestBody:
        content:
          application/json:
            example:
              email: sample@useinsider.com
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                statusMessage: OK
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /email/v1/unsubscribe:
    post:
      operationId: unsubscribeEmailUsersFromDatabase
      summary: Unsubscribe email users from database
      tags:
      - Email
      description: "This API enables you to unsubscribe users from Insider's email platform.\n\nBody Parameters\n\
        Every request made to the request endpoint requires a request body formatted in JSON and containing your\
        \ email's content and metadata. This includes the subscriber's email address.\n\nParameter\nDescription\n\
        Data Type\nRequired\n\nemail\nUser's email address\nString\nYes\n\nSample Body\nThe following is a sample\
        \ body to unsubscribe a user from Email platform.\n\n{\n    \"email\": \"sample@mail.com\"\n}\n\nSample\
        \ Responses\n200 OK\nThe following response returns if the request is successful.\n\n{\n  \"statusMessage\"\
        : \"OK\"\n}\n\n400 Bad Request\n{\n  \"statusMessage\": \"Bad request\"\n}\n\n401 Unauthorized\nThe following\
        \ response returns if the request is not authorized.\n\n{\n  \"statusMessage\": \"Unauthorized\"\n}\n\n\
        Limitations\nWhen sending your request, make sure to follow these limitations.\n\nAll functions must be\
        \ executed with a simple HTTPS POST request.\n\nOnly global unsubscribers can be sent via this API. No data\
        \ can be retrieved.\n\nThe API Key should be provided as the authorization key on the request header. If\
        \ the key is incorrect, the operation will not be executed and an authorization error will return in the\
        \ response.\n\nThe value of X-PARTNER-NAME header should be lowercase."
      security:
      - PartnerName: []
      - RequestToken: []
      requestBody:
        content:
          application/json:
            example:
              email: sample@useinsider.com
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                statusMessage: OK
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /email/v2/subscribe:
    post:
      operationId: resubscribeEmailUsersForEmailGlobalSubscribe
      summary: Resubscribe Email Users for Email Global Subscribe
      tags:
      - Email
      description: "The Email Resubscribe API allows you to set an unreachable email status as reachable on the\
        \ Insider's Email platform.\n\nThe Resubscribe API v2 is the latest version of the Email Resubscribe API,\
        \ which supports bulk data ingestion. If you're still using the previous version (v1), we strongly recommend\
        \ migrating to this updated version to benefit from bulk updates and enhanced functionality. Please note\
        \ that new integrations with v1 are no longer supported.\n\nAPI usage changes depending on the identifier\
        \ format you're using. Please refer to the relevant section based on your identifier configuration.\n\n\
        Body Parameters\n\nParameter\nDescription\nData Type\nRequired\n\nemails\nUser's email address(es)\nString\
        \ Array\nes (normal and email-based)\n\nuuids\nUsers unique user identifier\nString Array\nYes (only if\
        \ you are not using email as an identifier and using profile-based)\n\nSample Requests\nWhen Email is the\
        \ Identifier or Email-Based Flow is Enabled\nEvery request made to the request endpoint requires a request\
        \ body formatted in JSON and containing your email's content and metadata.\n\nFor the email-based flow,\
        \ the same request is used; however, it will only update the status of existing users and will not create\
        \ new users.\n\nThe emails field is required for resubscribe requests.\n\ncurl --location --request POST\
        \ 'http://contact.useinsider.com/email/v2/subscribe' \\\n--header 'Content-Type: application/json' \\\n\
        --header 'X-PARTNER-NAME: mybrand' \\\n--header 'X-REQUEST-TOKEN: a1b2c3d4e5f6' \\\n--data-raw '{\n    \
        \ \"emails\": [\n        \"sample1@useinsider.com\",\n        \"sample2@useinsider.com\"\n    ]\n}'\n\n\
        When UUID is the Identifier and Profile-Based Flow is Enabled\nEvery request made to the request endpoint\
        \ requires a request body formatted in JSON and containing your email's content and metadata.\n\nIf the\
        \ profile-based flow is enabled for your account:- If the user in the request exists, their status will\
        \ be updated.- If the user does not exist, a new user will be created.\n\nThe uuid, and uploader_email fields\
        \ are required for resubscribe requests.\n\ncurl --location 'https://contact.useinsider.com/email/v2/subscribe'\
        \ \\\n--header 'Content-Type: application/json' \\\n--header 'x-request-token: mybrand' \\\n--header 'x-partner-name:\
        \ a1b2c3d4e5f6' \\\n--data-raw '{\n    \"uuids\": [\n        \"test-uuid-1\",\n        \"test-uuid-2\",\n\
        \        \"test-uuid-3\",\n        \"test-uuid-7\"\n    ],\n    \"emails\": [\n        \"samlpe1@useinsider.com\"\
        ,\n        \"sample2@useinsider.com\",\n        \"sample3@useinsider.com\",\n        \"sample4@useinsider.com\"\
        \n    ]\n}'\n\nSample Responses\n200 OK\n{\n  \"statusMessage\": \"OK\"\n}\n\n400 Bad Request\n{\n  \"statusMessage\"\
        : \"Bad request\"\n}\n\n401 Unauthorized\n{\n  \"statusMessage\": \"Unauthorized\"\n}\n\nLimitations\n\n\
        All functions must be executed with a simple HTTPS POST request.\n\nA maximum of 500 emails or UUIDs can\
        \ be consumed in one request.\n\nThe API Key should be provided as the authorization key in the request\
        \ header. If the key is incorrect, the operation will not be executed, and an authorization error will return\
        \ in the response.\n\nThe value of X-PARTNER-NAME header should be lowercase.\n\n<p >The default limit shown\
        \ here is a standard baseline. If your use case requires higher capacity, feel free to reach out to the\
        \ Insider team — we can adjust it to fit your needs.</p>"
      security:
      - PartnerName: []
      - RequestToken: []
      requestBody:
        content:
          application/json:
            examples:
              default:
                value:
                  emails:
                  - sample1@useinsider.com
                  - sample2@useinsider.com
              resubscribe-email-users-for-email-group-subscribe:
                summary: Resubscribe Email Users for Email Group Subscribe
                value:
                  emails:
                  - sample1@useinsider.com
                  - sample2@useinsider.com
                  group_id: 12345
      responses:
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /email/v2/unsubscribe:
    post:
      operationId: unsubscribeEmailUsersForEmailGlobalUnsubscription
      summary: Unsubscribe email users for email global unsubscription
      tags:
      - Email
      description: "The Email Unsubscribe API allows you to ingest email addresses into either the global unsubscribe\
        \ list or a specific unsubscribe group you created in InOne.\n\nThe Email Unsubscribe API v2 is the latest\
        \ version of the Email Unsubscribe API, which supports bulk data ingestion. If you're still using the previous\
        \ version (v1), we strongly recommend migrating to this updated version to benefit from bulk updates and\
        \ enhanced functionality. Please note that new integrations with v1 are no longer supported.\n\nAPI usage\
        \ changes depending on the identifier format you're using. Please refer to the relevant section based on\
        \ your identifier configuration.\n\nBody Parameters\n\nParameter\nDescription\nData Type\nRequired\n\nemails\n\
        User's email addresses\nString Array\nYes (normal and email based)\n\nuuids\nUser's unique user identifier\n\
        String Array\nYes (only if you are not using email as an identifier and using profile based)\n\nSample Requests\n\
        When Email is the Identifier or Email-Based Flow is Enabled\nEvery request made to the request endpoint\
        \ requires a request body formatted in JSON and containing your email's content and metadata.\n\nIn cases\
        \ where the email is used as the identifier, if the user exists, their status will be updated; if the user\
        \ does not exist, a new user will be created.For the email-based flow, the same request is used; however,\
        \ it will only update the status of existing users and will not create new users.\n\nThe emails field is\
        \ required for global unsubscribe requests.\n\ncurl --location 'contact.useinsider.com/email/v2/unsubscribe'\
        \ \\\n--header 'X-PARTNER-NAME: mybrand' \\\n--header 'X-REQUEST-TOKEN: a1b2c3d4e5f6' \\\n--header 'Content-Type:\
        \ application/json' \\\n--data-raw '{\n    \"emails\": [\n        \"sample1@useinsider.com\",\n        \"\
        sample2@useinsider.com\",\n        \"sample3@useinsider.com\"\n    ]\n}'\n\nWhen UUID is the Identifier\
        \ and Profile-Based Flow is Enabled\nEvery request made to the request endpoint requires a request body formatted\
        \ in JSON and containing your email's content and metadata.\n\nIf the profile-based flow is enabled for\
        \ your account,- If the user in the request exists, their status will be updated.- If the user does not\
        \ exist, a new user will be created.\n\nThe uuid and email fields are required for global unsubscribe requests.\n\
        \ncurl --location 'http://contact.useinsider.com/email/v2/unsubscribe' \\\n--header 'Content-Type: application/json'\
        \ \\\n--header 'x-request-token: a1b2c3d4e5f6' \\\n--header 'x-partner-name: mybrand' \\\n--data-raw '{\n\
        \    \"users\": [\n        {\n            \"uuid\": \"test-uuid-1\",\n            \"email\": \"sample1@useinsider.com\"\
        \n        },\n        {\n            \"uuid\": \"test-uuid-2\",\n            \"email\": \"sample2@useinsider.com\"\
        \n        },\n        {\n            \"uuid\": \"test-uuid-3\",\n            \"email\": \"sample3@useinsider.com\"\
        \n        },\n        {\n            \"uuid\": \"test-uuid-4\",\n            \"email\": \"sample4@useinsider.com\"\
        \n        }\n    ]\n}'\n\nSample Responses\n200 OK\nThe following response returns if the request is successful.\n\
        \n{\n  \"statusMessage\": \"OK\"\n}\n\n400 Bad Request\n{\n  \"statusMessage\": \"Bad request\"\n}\n\n401\
        \ Unauthorized\nThe following response returns if the request is not authorized.\n\n{\n  \"statusMessage\"\
        : \"Unauthorized\"\n}\n\nLimitations\nWhen sending your request, make sure to follow these limitations.\n\
        \nAll functions must be executed with a simple HTTPS POST request.\n\nA maximum of 500 emails or UUIDs can\
        \ be consumed in one request.\n\nThe API Key should be provided as the authorization key in the request\
        \ header. If the key is incorrect, the operation will not be executed, and an authorization error will return\
        \ in the response.\n\nThe value of X-PARTNER-NAME header should be lowercase."
      security:
      - PartnerName: []
      - RequestToken: []
      requestBody:
        content:
          application/json:
            examples:
              default:
                value:
                  emails:
                  - sample1@useinsider.com
                  - sample2@useinsider.com
                  - sample3@useinsider.com
              unsubscribe-email-users-for-email-group:
                summary: Unsubscribe email users for email group
                value:
                  emails:
                  - sample1@useinsider.com
                  - sample2@useinsider.com
                  - sample3@useinsider.com
      responses:
        '200':
          description: OK
          content:
            application/json:
              examples:
                default:
                  value:
                    statusMessage: OK
                unsubscribe-email-users-for-email-group:
                  value:
                    statusMessage: OK
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /fps/v1/upload:
    post:
      operationId: uploadFirstPartySegments
      summary: Upload first-party segments
      tags:
      - User Data APIs
      description: "The First-Party Segment API allows you to easily create a first-party segment through an API.\
        \ When the uploading process is completed, the segment is automatically created on your First-Party Segment\
        \ page under Saved Segments. In addition, you can see the results of the segment creation on the callback.\n\
        \nThe FPS segments don't generate new users; instead, they group existing users into segments based on their\
        \ attribute values.\n\nUse Cases\n\nAssume that you want to pass your custom segment(s) via API to Insider\
        \ but do not want to create a segment on Insider's InOne panel. Thanks to the FPS API, you can maintain\
        \ the entire segment creation process through the API from beginning to end.\n\nLet's say you want to target\
        \ a set of specific user attributes that contain “Store ID” on UCD. You can basically create a .csv file\
        \ and name its column as Store ID with the store ID values. To make these attribute values produce a segment,\
        \ you can pass this file’s URL to the payload, and at the end of the request, you can get the number of\
        \ users who have these values.\n\nStore ID\n\nid1\n\nid2\n\nAssume that you have 17k store owners as your\
        \ customers. Instead of multi-selecting 17k values under the segmentation filter, you can list those store_id\
        \ values on a sheet and upload them to the FPS segment upload field. This way, a snapshot of the people\
        \ with those store ID values is generated.\n\nYou do not need to include a header row in the CSV file. The\
        \ attribute name (e.g., \"Store ID\") has already been specified in the API payload. The values in the CSV\
        \ file should be listed without a header.\n\nBody Parameters\n\nParameter\nDescription\nData Type\nRequired\n\
        \nsegmentName\nIt is the name of the segment.\nString\nYes\n\nfileUrl\nIt is the URL where CSV is hosted.\
        \ This URL should be downloadable.\nString\nYes\n\ncallbackUrl\nCallback URL is to receive the result of\
        \ segment creation. This URL should accept POST request.\nString\nYes\n\nattributeName\nIt is the name of\
        \ the user attribute on which the segment is created. It refers to the attribute names on UCD. This field\
        \ basically enables you to match your users who have the given attribute.  Attribute names should be in\
        \ accordance with Attribute Name field on Default Attributes page.  It can be either an identifier or any\
        \ attribute.\nString\nYes\n\nSample Example\nSample Request\nEvery request made to the request endpoint\
        \ requires a request body formatted in JSON containing the required body parameters.\n\ncurl --location\
        \ --request POST 'https://contact.useinsider.com/fps/v1/upload' \\\n--header 'X-REQUEST-TOKEN: acb123' \\\
        \n--header 'X-PARTNER-NAME: mybrand' \\\n--header 'Content-Type: application/json' \\\n--data-raw '{\n \
        \ \"segmentName\": \"My Segment Name\",\n  \"fileUrl\": \"https://s3.amazonaws.com/sample_csv_file.csv\"\
        ,\n  \"callbackUrl\": \"https://localhost/12345\",\n  \"attributeName\": \"em\"\n}'\n\nThe attribute em\
        \ stands for email address in Insider's system.\n\nSample Responses\n200 OK\n{\n  \"statusMessage\": \"\
        OK\"\n}\n\n400 BAD REQUEST\n{\n  \"statusMessage\": \"segment name already in use\"\n}\n\n401 UNAUTHORIZED\n\
        {\n  \"statusMessage\": \"Unauthorized\"\n}\n\n405 INVALID PAYLOAD\n{\n    \"error\": \"Invalid Payload.\"\
        \n}\n\nError Messages\n\nError\nDescription\n\nsegment name already in use\nThe segment name in the request\
        \ already exists on your panel. You should name your segment with a different name.\n\nthe file URL is invalid.\
        \ The URL should include .csv extension\nThe CSV URL is invalid. The URL should include .csv extension.\n\
        \nfile size is more than the limit\nFile size cannot be more than 10MB.\n\npartner name is missing\nX-PARTNER-NAME\
        \ needs to be available.\n\nSample Callback Responses\n200 OK\n{\n    \"segment_name\": \"My unique segment\"\
        ,\n    \"valid_values_count\": 5,\n    \"invalid_values_count\": 7,\n    \"total_entered_values\": 12\n\
        }\n\nvalid_values_count: The number of valid row values for the given attribute in the body.\n\ninvalid_values_count:\
        \ The number of invalid row values for the given attribute in the body. For example, you tried to map the\
        \ CSV file given below with the age attribute. Since age attribute is a number, the invalid_values_count\
        \ will be 2 in this case.\n\ntotal_entered_values: the total number of rows in the .csv file.\n\nLimitations\n\
        \nAll functions must be executed with a simple HTTPS POST request.\n\nThe API Key should be provided as\
        \ the authorization key in the request header. If the key is incorrect, the operation will not be executed\
        \ and an authorization error will return in the response.\n\nThe value of the X-PARTNER-NAME header should\
        \ be lowercase.\n\ncallbackUrl needs to accept POST response\n\nFile size cannot be more than 50MB.\n\n\
        SegmentName can have a maximum of 40 characters."
      security:
      - PartnerName: []
      - RequestToken: []
      requestBody:
        content:
          application/json:
            example:
              segmentName: My Segment Name
              fileUrl: https://s3.amazonaws.com/sample_csv_file.csv
              callbackUrl: https://localhost/12345
              attributeName: em
      responses:
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /sms/v1/subscribe:
    post:
      operationId: resubscribeSmsUsers
      summary: Resubscribe SMS users
      tags:
      - SMS
      description: "This API allows you to set an unreachable phone number status as reachable on Insider's SMS\
        \ platform.\n\nA newer version of the Resubscribe API is available with support for bulk data ingestion.\
        \ While the older version is still supported, we recommend using the latest version for improved functionality\
        \ and future compatibility.\n\nBody Parameters\nEvery request made to the request endpoint requires a request\
        \ body formatted in JSON and containing your phone number’s content and metadata. This includes the subscriber’s\
        \ phone number.\n\nParameter\nDescription\nData Type\nRequired\n\nphone_number\nUser's phone number in E.164\
        \ format (e.g. +6598765432)\nString\nYes\n\nSample Body\nThe following is a sample body to resubscribe users\
        \ to the SMS platform.\n\n{\n     \"phone_number\": \"+905012345678\"\n}\n\nSample Responses\n200 OK\nThe\
        \ following response returns if the request is successful.\n\n{\n  \"statusMessage\": \"OK\"\n}\n\n400 Bad\
        \ Request\n{\n  \"statusMessage\": \"Bad request\"\n}\n\n401 Unauthorized\nThe following response returns\
        \ if the request is not authorized.\n\n{\n  \"statusMessage\": \"Unauthorized\"\n}\n\nLimitations\nWhen\
        \ sending your request, make sure to follow these limitations.\n\nAll functions must be executed with a\
        \ simple HTTPS POST request.\n\nOnly phone numbers can be sent via this API. No data can be retrieved.\n\
        \nThe API Key should be provided as the authorization key on the request header. If the key is incorrect,\
        \ the operation will not be executed and an authorization error will return in the response.\n\nThe value\
        \ of X-PARTNER-NAME header should be lowercase."
      security:
      - PartnerName: []
      - RequestToken: []
      requestBody:
        content:
          application/json:
            example:
              phone_number: '+655012345678'
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                statusMessage: OK
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /sms/v1/unsubscribe:
    post:
      operationId: unsubscribeSmsUsersFromDatabase
      summary: Unsubscribe SMS users from database
      tags:
      - SMS
      description: "This API enables you to unsubscribe users from Insider's SMS platform.\n\nA newer version of\
        \ the Unsubscribe API is available with support for bulk data ingestion. While the older version is still\
        \ supported, we recommend using the latest version for improved functionality and future compatibility.\n\
        \nBody Parameters\nEvery request made to the request endpoint requires a request body formatted in JSON\
        \ and containing your phone number’s content and metadata. This includes the subscriber’s phone number.\n\
        \nParameter\nDescription\nData Type\nRequired\n\nphone_number\nUser's phone number in E.164 format (e.g.\
        \ +6598765432)\nString\nYes\n\nSample Body\nThe following is a sample body to unsubscribe users from the\
        \ SMS platform.\n\n{\n    \"phone_number\": \"+905012345678\"\n}\n\nSample Responses\n200 OK\nThe following\
        \ response returns if the request is successful.\n\n{\n  \"statusMessage\": \"OK\"\n}\n\n400 Bad Request\n\
        {\n  \"statusMessage\": \"Bad request\"\n}\n\n401 Unauthorized\nThe following response returns if the request\
        \ is not authorized.\n\n{\n  \"statusMessage\": \"Unauthorized\"\n}\n\nLimitations\nWhen sending your request,\
        \ make sure to follow these limitations.\n\nAll functions must be executed with a simple HTTPS POST request.\n\
        \nOnly global unsubscribers can be sent via this API. No data can be retrieved.\n\nThe API Key should be\
        \ provided as the authorization key on the request header. If the key is incorrect, the operation will not\
        \ be executed and an authorization error will return in the response.\n\nThe value of X-PARTNER-NAME header\
        \ should be lowercase."
      security:
      - PartnerName: []
      - RequestToken: []
      requestBody:
        content:
          application/json:
            example:
              phone_number: '+65012345678'
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                statusMessage: OK
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /sms/v2/subscribe:
    post:
      operationId: resubscribeSmsUsersV2
      summary: Resubscribe SMS users / v2
      tags:
      - SMS
      description: "The SMS Resubscribe API enables you to update an unreachable phone number status to reachable\
        \ on Insider's SMS platform.\n\nIf a user exists with the provided phone number, the user's subscription\
        \ status will be updated. If no user exists and the phone number is used as an identifier, a new user will\
        \ be created.\n\nBody Parameters\n\nParameter\nDescription\nData Type\nRequired\n\nphone_numbers\nUsers'\
        \ phone numbers in E.164 format (e.g. +6598765432)\nString Array\nYes\n\nSample Request\nEvery request made\
        \ to the request endpoint requires a request body formatted in JSON containing your phone number’s content\
        \ and metadata, including the subscriber’s phone number.\n\nThe phone_numbers field is required for resubscribe\
        \ requests.\n\ncurl --location --request POST 'http://contact.useinsider.com/sms/v2/subscribe' \\\n--header\
        \ 'Content-Type: application/json' \\\n--header 'X-PARTNER-NAME: mybrand' \\\n--header 'X-REQUEST-TOKEN:\
        \ a1b2c3d4e5f6' \\\n--data-raw '{\n     \"phone_numbers\": [\n        \"+900000000000\",\n        \"+900000000000\"\
        ,\n        \"+900000000000\",\n        \"+900000000000\",\n        \"+900000000000\",\n        \"+900000000000\"\
        \n    ]\n}'\n\nSample Responses\n200 OK\nThe following response returns if the request is successful.\n\n\
        {\n  \"statusMessage\": \"OK\"\n}\n\n400 Bad Request\n{\n  \"statusMessage\": \"Bad request\"\n}\n\n401\
        \ Unauthorized\nThe following response returns if the request is not authorized.\n\n{\n  \"statusMessage\"\
        : \"Unauthorized\"\n}\n\nLimitations\nWhen sending your request, make sure to follow these limitations.\n\
        \nAll functions must be executed with a simple HTTPS POST request.\n\nOnly phone numbers can be sent via\
        \ this API. No data can be retrieved.\n\nA maximum of 500 phone numbers can be consumed in one request.\n\
        \nThe API Key should be provided as the authorization key in the request header. If the key is incorrect,\
        \ the operation will not be executed, and an authorization error will return in the response.\n\nThe value\
        \ of the X-PARTNER-NAME header should be lowercase.\n\nThe default limit shown here is a standard baseline.\
        \ If your use case requires higher capacity, feel free to reach out to the Insider team — we can adjust\
        \ it to fit your needs."
      security:
      - PartnerName: []
      - RequestToken: []
      requestBody:
        content:
          application/json:
            example:
              phone_numbers:
              - '+900000000000'
              - '+900000000000'
              - '+900000000000'
              - '+900000000000'
              - '+900000000000'
              - '+900000000000'
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                statusMessage: OK
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /sms/v2/unsubscribe:
    post:
      operationId: unsubscribeSmsUsersFromDatabaseV2
      summary: Unsubscribe SMS users from database / v2
      tags:
      - SMS
      description: "The SMS Unsubscribe API enables you to unsubscribe users from Insider's SMS platform.\n\nIf\
        \ a user exists with the provided phone number, the user's subscription status will be updated. If no user\
        \ exists and the phone number is used as an identifier, a new user will be created.\n\nBody Parameters\n\
        \nParameter\nDescription\nData Type\nRequired\n\nphone_numbers\nUsers' phone numbers in E.164 format (e.g.\
        \ +6598765432)\nString Array\nYes\n\nSample Request\nEvery request made to the request endpoint requires\
        \ a request body formatted in JSON containing your phone number’s content and metadata, including the subscriber’s\
        \ phone number.\n\nThe phone_numbers field is required for resubscribe requests.\n\ncurl --location --request\
        \ POST 'http://contact.useinsider.com/sms/v2/unsubscribe' \\\n--header 'Content-Type: application/json'\
        \ \\\n--header 'X-PARTNER-NAME: mybrand' \\\n--header 'X-REQUEST-TOKEN: a1b2c3d4e5f6' \\\n--data-raw '{\n\
        \     \"phone_numbers\": [\n        \"+900000000000\",\n        \"+900000000000\",\n        \"+900000000000\"\
        ,\n        \"+900000000000\",\n        \"+900000000000\",\n        \"+900000000000\"\n    ]\n}'\n\nSample\
        \ Responses\n200 OK\nThe following response returns if the request is successful.\n\n{\n  \"statusMessage\"\
        : \"OK\"\n}\n\n400 Bad Request\n{\n  \"statusMessage\": \"Bad request\"\n}\n\n401 Unauthorized\nThe following\
        \ response returns if the request is not authorized.\n\n{\n  \"statusMessage\": \"Unauthorized\"\n}\n\n\
        Limitations\nWhen sending your request, make sure to follow these limitations.\n\nAll functions must be\
        \ executed with a simple HTTPS POST request.\n\nOnly phone numbers can be sent via this API. No data can\
        \ be retrieved.\n\nA maximum of 500 phone numbers can be consumed in one request.\n\nThe API Key should\
        \ be provided as the authorization key in the request header. If the key is incorrect, the operation will\
        \ not be executed, and an authorization error will return in the response.\n\nThe value of the X-PARTNER-NAME\
        \ header should be lowercase.\n\nThe default limit shown here is a standard baseline. If your use case requires\
        \ higher capacity, feel free to reach out to the Insider team — we can adjust it to fit your needs."
      security:
      - PartnerName: []
      - RequestToken: []
      requestBody:
        content:
          application/json:
            example:
              phone_numbers:
              - '+900000000000'
              - '+900000000000'
              - '+900000000000'
              - '+900000000000'
              - '+900000000000'
              - '+900000000000'
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                statusMessage: OK
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /whatsapp/v1/subscribe:
    post:
      operationId: resubscribeWhatsappUsers
      summary: Resubscribe WhatsApp users
      tags:
      - WhatsApp
      description: "This API allows you to set an unreachable phone number status as reachable on Insider's WhatsApp\
        \ platform.\n\nA newer version of the Resubscribe API is available with support for bulk data ingestion.\
        \ While the older version is still supported, we recommend using the latest version for improved functionality\
        \ and future compatibility.\n\nBody Parameters\nEvery request made to the request endpoint requires a request\
        \ body formatted in JSON and containing your phone number’s content and metadata. This includes the subscriber’s\
        \ phone number.\n\nParameter\nDescription\nData Type\nRequired\n\nphone_number\nUser's phone number in E.164\
        \ format (e.g. +6598765432)\nString\nYes\n\nSample Body\nThe following is a sample body to resubsribe users\
        \ to Insider's WhatsApp platform.\n\n{\n     \"phone_number\": \"+905012345678\"\n}\n\nSample Responses\n\
        200 OK\nThe following response returns if the request is successful.\n\n{\n  \"statusMessage\": \"OK\"\n\
        }\n\n400 Bad Request\n{\n  \"statusMessage\": \"Bad request\"\n}\n\n401 Unauthorized\nThe following response\
        \ returns if the request is not authorized.\n\n{\n  \"statusMessage\": \"Unauthorized\"\n}\n\nLimitations\n\
        When sending your request, make sure to follow these limitations.\n\nAll functions must be executed with\
        \ a simple HTTPS POST request.\n\nOnly phone numbers can be sent via this API. No data can be retrieved.\n\
        \nThe API Key should be provided as the authorization key on the request header. If the key is incorrect,\
        \ the operation will not be executed and an authorization error will return in the response.\n\nThe value\
        \ of X-PARTNER-NAME header should be lowercase."
      security:
      - PartnerName: []
      - RequestToken: []
      requestBody:
        content:
          application/json:
            example:
              phone_number: '+655012345678'
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                statusMessage: OK
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /whatsapp/v1/unsubscribe:
    post:
      operationId: unsubscribeWhatsappUsersFromDatabase
      summary: Unsubscribe WhatsApp users from database
      tags:
      - WhatsApp
      description: "This API enables you to unsubscribe users from Insider's WhatsApp platform.\n\nA newer version\
        \ of the Unsubscribe API is available with support for bulk data ingestion. While the older version is still\
        \ supported, we recommend using the latest version for improved functionality and future compatibility.\n\
        \nBody Parameters\nEvery request made to the request endpoint requires a request body formatted in JSON\
        \ and containing your phone number’s content and metadata. This includes the subscriber’s phone number.\n\
        \nParameter\nDescription\nData Type\nRequired\n\nphone_number\nUser's phone number in E.164 format (e.g.\
        \ +6598765432)\nString\nYes\n\nSample Body\nThe following is a sample body to unsubscribe users from WhatsApp\
        \ platform.\n\n{\n    \"phone_number\": \"+905012345678\"\n}\n\nSample Responses\n200 OK\nThe following\
        \ response returns if the request is successful.\n\n{\n  \"statusMessage\": \"OK\"\n}\n\n400 Bad Request\n\
        {\n  \"statusMessage\": \"Bad request\"\n}\n\n401 Unauthorized\nThe following response returns if the request\
        \ is not authorized.\n\n{\n  \"statusMessage\": \"Unauthorized\"\n}\n\nLimitations\nWhen sending your request,\
        \ make sure to follow these limitations.\n\nAll functions must be executed with a simple HTTPS POST request.\n\
        \nOnly global unsubscribers can be sent via this API. No data can be retrieved.\n\nThe API Key should be\
        \ provided as the authorization key on the request header. If the key is incorrect, the operation will not\
        \ be executed and an authorization error will return in the response.\n\nThe value of X-PARTNER-NAME header\
        \ should be lowercase."
      security:
      - PartnerName: []
      - RequestToken: []
      requestBody:
        content:
          application/json:
            example:
              phone_number: '+6512345678'
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                statusMessage: OK
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /whatsapp/v2/subscribe:
    post:
      operationId: resubscribeWhatsappUsersV2
      summary: Resubscribe WhatsApp users / v2
      tags:
      - WhatsApp
      description: "The WhatsApp Resubscribe API enables you to update an unreachable phone number status to reachable\
        \ on Insider's WhatsApp platform.\n\nIf a user exists with the provided phone number, the user's subscription\
        \ status will be updated. If no user exists and the phone number is used as an identifier, a new user will\
        \ be created.\n\nBody Parameters\nEvery request made to the request endpoint requires a request body formatted\
        \ in JSON and containing your phone number’s content and metadata. This includes the subscriber’s phone\
        \ number.\n\nParameter\nDescription\nData Type\nRequired\n\nphone_numbers\nUsers' phone numbers in E.164\
        \ format (e.g. +6598765432)\nString Array\nYes\n\nSample Request\nEvery request made to the request endpoint\
        \ requires a request body formatted in JSON containing your phone number’s content and metadata, including\
        \ the subscriber’s phone number.\n\nThe phone_numbers field is required for resubscribe requests.\n\ncurl\
        \ --location --request POST 'http://contact.useinsider.com/whatsapp/v2/subscribe' \\\n--header 'Content-Type:\
        \ application/json' \\\n--header 'X-PARTNER-NAME: mybrand' \\\n--header 'X-REQUEST-TOKEN: a1b2c3d4e5f6'\
        \ \\\n--data-raw '{\n     \"phone_numbers\": [\n        \"+900000000000\",\n        \"+900000000000\",\n\
        \        \"+900000000000\",\n        \"+900000000000\",\n        \"+900000000000\",\n        \"+900000000000\"\
        \n    ]\n}'\n\nSample Responses\n200 OK\nThe following response returns if the request is successful.\n\n\
        {\n  \"statusMessage\": \"OK\"\n}\n\n400 Bad Request\n{\n  \"statusMessage\": \"Bad request\"\n}\n\n401\
        \ Unauthorized\nThe following response returns if the request is not authorized.\n\n{\n  \"statusMessage\"\
        : \"Unauthorized\"\n}\n\nLimitations\nWhen sending your request, make sure to follow these limitations.\n\
        \nAll functions must be executed with a simple HTTPS POST request.\n\nOnly phone numbers can be sent via\
        \ this API. No data can be retrieved.\n\nA maximum of 500 phone numbers can be consumed in one request.\n\
        \nThe API Key should be provided as the authorization key in the request header. If the key is incorrect,\
        \ the operation will not be executed, and an authorization error will return in the response.\n\nThe value\
        \ of the X-PARTNER-NAME header should be lowercase.\n\nThe default limit shown here is a standard baseline.\
        \ If your use case requires higher capacity, feel free to reach out to the Insider team — we can adjust\
        \ it to fit your needs."
      security:
      - PartnerName: []
      - RequestToken: []
      requestBody:
        content:
          application/json:
            example:
              phone_numbers:
              - '+900000000000'
              - '+900000000000'
              - '+900000000000'
              - '+900000000000'
              - '+900000000000'
              - '+900000000000'
      responses:
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /whatsapp/v2/unsubscribe:
    post:
      operationId: unsubscribeWhatsappUsersFromDatabaseV2
      summary: Unsubscribe WhatsApp users from database / v2
      tags:
      - WhatsApp
      description: "The WhatsApp Unsubscribe API enables you to unsubscribe users from Insider's WhatsApp platform.\n\
        \nIf a user exists with the provided phone number, the user's subscription status will be updated. If no\
        \ user exists and the phone number is used as an identifier, a new user will be created.\n\nBody Parameters\n\
        \nParameter\nDescription\nData Type\nRequired\n\nphone_numbers\nUsers' phone number in E.164 format (e.g.\
        \ +6598765432)\nString Array\nYes\n\nSample Request\nEvery request made to the request endpoint requires\
        \ a request body formatted in JSON containing your phone number’s content and metadata, including the subscriber’s\
        \ phone number.\n\nThe phone_numbers field is required for resubscribe requests.\n\ncurl --location --request\
        \ POST 'http://contact.useinsider.com/whatsapp/v2/unsubscribe' \\\n--header 'Content-Type: application/json'\
        \ \\\n--header 'X-PARTNER-NAME: mybrand' \\\n--header 'X-REQUEST-TOKEN: a1b2c3d4e5f6' \\\n--data-raw '{\n\
        \     \"phone_numbers\": [\n        \"+900000000000\",\n        \"+900000000000\",\n        \"+900000000000\"\
        ,\n        \"+900000000000\",\n        \"+900000000000\",\n        \"+900000000000\"\n    ]\n}'\n\nSample\
        \ Responses\n200 OK\nThe following response returns if the request is successful.\n\n{\n  \"statusMessage\"\
        : \"OK\"\n}\n\n400 Bad Request\n{\n  \"statusMessage\": \"Bad request\"\n}\n\n401 Unauthorized\nThe following\
        \ response returns if the request is not authorized.\n\n{\n  \"statusMessage\": \"Unauthorized\"\n}\n\n\
        Limitations\nWhen sending your request, make sure to follow these limitations.\n\nAll functions must be\
        \ executed with a simple HTTPS POST request.\n\nOnly phone numbers can be sent via this API. No data can\
        \ be retrieved.\n\nA maximum of 500 phone numbers can be consumed in one request.\n\nThe API Key should\
        \ be provided as the authorization key in the request header. If the key is incorrect, the operation will\
        \ not be executed, and an authorization error will return in the response.\n\nThe value of the X-PARTNER-NAME\
        \ header should be lowercase.\n\nThe default limit shown here is a standard baseline. If your use case requires\
        \ higher capacity, feel free to reach out to the Insider team — we can adjust it to fit your needs."
      security:
      - PartnerName: []
      - RequestToken: []
      requestBody:
        content:
          application/json:
            example:
              phone_numbers:
              - '+900000000000'
              - '+900000000000'
              - '+900000000000'
              - '+900000000000'
              - '+900000000000'
              - '+900000000000'
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                statusMessage: OK
        '429':
          $ref: '#/components/responses/TooManyRequests'
components:
  securitySchemes:
    PartnerName:
      type: apiKey
      in: header
      name: X-PARTNER-NAME
      description: Insider One partner (account) name, lowercase.
    RequestToken:
      type: apiKey
      in: header
      name: X-REQUEST-TOKEN
      description: Insider One API key (request token) generated in the InOne panel.
  responses:
    TooManyRequests:
      description: Too Many Requests. The published per-endpoint rate limit was exceeded; back off and retry, honouring
        Retry-After when present.
      content:
        application/json:
          example:
            message: Too Many Requests
            status: 429
x-provenance:
  generated: '2026-08-13'
  method: derived
  source: postman/insider-one-apis.postman_collection.json
  source_url: https://documenter.gw.postman.com/api/collections/24851117/2sB3dSR9bM
  publisher_page: https://developers.insiderone.com/
  note: Insider One publishes a single public Postman collection covering every REST API. This document is the subset
    of that collection served from contact.useinsider.com.
